<div class="form-group">
  {% if messages %}
    
      {% for message in messages %}
      {% if message.tags == "error" %}
       <div class="alert alert-warning alert-dismissable fade show"  style="margin-top:10px">
        <button class="close" data-dismiss="alert" aria-label="Close">×</button><strong>Warning!</strong> {{message}}</div>
      
      {% endif %}

      
      {% endfor %}
  
  {% endif %}
</div>


<a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
<a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
<a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>

<script type="text/javascript">
function ShowHideInfo(){

  if(document.getElementById('shipsame').checked){
    document.getElementById('shipinfo').style.display='none';
  } else {
     document.getElementById('shipinfo').style.display='none';
  }
}
</script>



{{ client.user|default_if_none:"&nbsp;" }}
{{ client.user|default_if_none:"" }}