{% extends 'shop_templates/base_template.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">
      <div class="row"> 
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">{{title}}</h3>
            </div>
              <div class="col-md-6">
                   <h4>Are You Sure You Want to Reset summary Transactions? </b></h4>            
                  </div>
                <div class="card-footer">
                  <a href="{% url 'members_credit_purchase_selection_reset_update' ticket %}" class="btn btn-danger">Reset</a>
                  <a href="{% url 'members_credit_purchase_manage_preview' ticket %}" class="btn btn-primary">Cancel</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
{% include 'cooperative/includes/emptyspace.html' %}
{% endblock content %}