{% extends 'shop_templates/base_template.html' %}
{% load static %}

{% block content %}
            <div class="page-content fade-in-up">
                <div class="row">
                  
                    <div class="col-md-6">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">CASH DEPOSIT DISTRIBUTIONS</div>
                                
                            </div>
                            <div class="form-group">
                                          {% if messages %}
                                            
                                              {% for message in messages %}
                                              {% if message.tags == "error" %}
                                              <div class="alert alert-danger" style="margin-top:10px">{{message}}</div>
                                              
                                              {% endif %}

                                              {% if message.tags == "success" %}
                                              <div class="alert alert-success" style="margin-top:10px">{{message}}</div>
                                              
                                              {% endif %}
                                              {% if message.tags == "info" %}
                                              <div class="alert alert-info" style="margin-top:10px">{{message}}</div>
                                              
                                              {% endif %}
                                              {% endfor %}
                                          
                                          {% endif %}
                                        </div>
                            <div class="ibox-body">
                                  <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data" novalidate>
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Amount Deposited</label>
                                        <div class="col-sm-8">
                                            {{form.amount_paid}}
                                        </div>
                                    </div>    
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Amount Distributed</label>
                                        <div class="col-sm-8">
                                            {{form.amount_distributed}}
                                        </div>
                                    </div>    
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Balance</label>
                                        <div class="col-sm-8">
                                            {{form.balance_amount}}
                                        </div>
                                    </div>
                                
                                  
                                    <div class="form-group row">
                                        <div class="col-sm-8 ml-sm-auto">
                                            {% if button_show %}
                                            <button class="btn btn-success" type="submit">Submit</button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="row">
                  
                    <div class="col-xl-8">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">SELECTED TRANSACTIONS  | 
                                    <a href="{% url 'Members_Credit_sales_Cash_Deposit_Distributions_Add_2nd_level' member.pk %}" class="btn btn-info">Add 1st Level</a>
                                    | <a href="{% url 'Members_Credit_sales_Cash_Deposit_Distributions_Add' member.pk %}" class="btn btn-secondary">Add 2nd Level</a>
                                    
                                </div>
                            </div>
                            <div class="ibox-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Transaction Number</th>
                                            <th>Amount</th>
                                            <th>Sources</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for record in records %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{record.loan_number}}</td>
                                            <td>{{record.amount_due}}</td>
                                            <td>{{record.source}}</td>
                                            <td><a href="{% url 'Members_Credit_sales_Cash_Deposit_Distributions_Transaction_Drop' record.pk member.pk %}" class="btn btn-danger">Drop</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        


    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
     {% include 'cooperative/includes/emptyspace.html' %} 
{% endblock %}