{% extends 'finsec_templates/base_template.html' %}
{% load static %}

{% block content %}
            <div class="page-content fade-in-up">
                <div class="row">                   

                    <div class="col-md-6">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Auto Receipt Setup</div>
                                
                            </div>
                            <div class="form-group">
                              {% if messages %}
                                
                                  {% for message in messages %}
                                  {% if message.tags == "error" %}
                                  <div class="alert alert-danger" style="margin-top:10px">{{message}}</div>
                                  
                                  {% endif %}

                                  {% if message.tags == "success" %}
                                  <div class="alert alert-success" style="margin-top:10px">{{message}}</div>
                                  
                                  {% endif %}
                                  {% endfor %}
                              
                              {% endif %}
                          </div>
                            <div class="ibox-body">
                               <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data" novalidate>
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Start Point</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" name="receipt" type="text" value="{{record.receipt}}" placeholder="Enter Start Point">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <div class="col-sm-10 ml-sm-auto">
                                            <button class="btn btn-info" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


 

    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
{% endblock %}