{% load static %}
        <nav class="page-sidebar" id="sidebar">
            <div id="sidebar-collapse">
                <div class="admin-block d-flex">
                    <div>
                        <img src="{% static '/cooperative/assets/img/admin-avatar.png' %}" width="45px" />
                    </div>
                    <div class="admin-info">
                        <div class="font-strong">{{request.user}}</div><small>Administrator</small></div>
                </div>
                <ul class="side-menu metismenu">
                    <li>
                        <a class="active" href="{% url 'admin_home' %}"><i class="sidebar-item-icon fa fa-th-large"></i>
                            <span class="nav-label">Dashboard</span>
                        </a>
                    </li>
                    <li class="heading">SHARED FEATURS {{values.cash_withdrawal_certification }}</li>



                    {% if request.user.user_type == '1' or 'USER MANAGER' in task_array %}

                     <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                            <span class="nav-label">Executives</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                            <li>
                                <a href="{% url 'Executive_Positions_add' %}">Executive Positions</a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Add Executives</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                    <li>
                                        <a href="{% url 'Executive_add' %}">Fresh Member</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'Executive_add_Existing' %}">Existing Members</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="{% url 'Executive_Member_Manage' %}">Manage Executives</a>
                            </li>
                        </ul>
                    </li>




                        <li>
                            <a href="javascript:;"><i class="sidebar-item-icon fa fa-edit"></i>
                                <span class="nav-label">System Users</span><i class="fa fa-angle-left arrow"></i></a>
                            <ul class="nav-2-level collapse">


                                <li>
                                    <a href="{% url 'add_staff' %}">System Users</a>
                                </li>
                                <li>
                                    <a href="{% url 'add_staff_manage' %}">Manage System Users</a>
                                </li>
                                 {% if request.user.user_type == '1' %}
                                <li>
                                    <a href="{% url 'super_user_add' %}">Super Users</a>
                                </li>
                                <li>
                                    <a href="{% url 'super_user_manage' %}">Manage Super Users</a>
                                </li>

                                <li>
                                    <a href="{% url 'Users_Task_Add_Category_load' %}">Add Users Tasks</a>
                                </li>

                                {% endif %}
                                <li>
                                  <a href="{% url 'General_Tasks_Manager' %}">User Task Manager</a>
                                </li>
                                <li>
                                  <a href="{% url 'trending_commodity_signatories' %}">Trending Commodity Signatories</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}

                    {% comment %}
                    {% if request.user.user_type == '1' or  'CASHBOOK' in task_array %}
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-file-text"></i>
                                <span class="nav-label">Cashbook Manager</span><i class="fa fa-angle-left arrow"></i></a>
                            <ul class="nav-2-level collapse">
                                <li>
                                    <a href="javascript:;">Daily Transaction </a>
                                </li>
                                <li>
                                    <a href="javascript:;">Monthly Deduction</a>
                                </li>
                                <li>
                                    <a href="javascript:;%}">Loan Disbursement</a>
                                </li>
                                <li>
                                    <a href="javascript:;">Over Deduction</a>
                                </li>
                                <li>
                                    <a href="javascript:;">Non Member Deduction</a>
                                </li>
                                <li>
                                    <a href="javascript:;">Other Transactions</a>
                                </li>
                            </ul>
                    </li>
                    {% endif %}
                    {% endcomment %}



                    {% if request.user.user_type == '1' or 'LOAN CRITERIA SETTINGS' in task_array %}

                     <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                            <span class="nav-label">General Loan Settings</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">

                            <li>
                                <a href="{% url 'Commodity_Transaction_Period' %}">Loan Trans. Period</a>
                            </li>
                            <li>
                                <a href="{% url 'Commodity_Transaction_Period_Batch' %}">Loan Trans. Batches</a>
                            </li>
                        {% if request.user.user_type == '1' %}
                            <li>
                                <a href="{% url 'loan_category_settings' %}">Loan Category Settings</a>
                            </li>
                         {% endif %}


                             {% if request.user.user_type == '1' %}
                            <li>
                                <a href="{% url 'loan_based_savings_update' %}">Loan Based Savings</a>
                            </li>

                            <li>
                                <a href="{% url 'Loan_Number_Manager' %}">Loan Number</a>
                            </li>
                            <li>
                                <a href="{% url 'FailedLoanPenalty_Manager' %}">Failed Loan Penalty</a>
                            </li>
                             {% endif %}
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                            <span class="nav-label">Monetary Loan Manager</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">


                            <li>
                                <a href="{% url 'loan_settings_load' %}">Monetary Loan Settings</a>
                            </li>


                        </ul>
                    </li>

                    {% endif %}
                       {% if request.user.user_type == '1' or 'COMMODITY LOAN PRODUCTS' in task_array %}
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                            <span class="nav-label">Non Monetary Manager</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">

                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Companies Info</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                    <li>
                                        <a href="{% url 'addCompanies' %}">Register Companies</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'Manage_Companies' %}">Manage Companies</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Commodity Category</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">

                                    <li>
                                        <a href="{% url 'addCommodityCategory' %}">Add Categories</a>
                                    </li>


                                    <li>
                                        <a href="{% url 'Manage_Commodity_Categories_Core_properties_Transactions_Load' %}">Manage Core Values</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'Manage_Commodity_Categories_Peripherals_Transactions_Load' %}">Manage Peripherals</a>
                                    </li>

                                </ul>

                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Commodity Products</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                     <li>

                                        <a href="{% url 'Commodity_Products_Add_Transactions_Load' %}">Product Capturing</a>
                                    </li>

                                    <li>
                                        <a href="{% url 'Commodity_Products_Manage_Transactions_Load' %}">Manage Commodity</a>
                                    </li>

                                    <li>
                                        <a href="{% url 'Product_Linking_Period_Load' %}">Products Linking</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'Product_Settings_Period_Load' %}">Products Price Update</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'Product_Duration_Settings_Period_Load' %}">Package Deduction Start Date</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="{% url 'loan_settings_non_monetary_list_load' %}">Non-Monetary Settings</a>
                            </li>
                            <li>
                                <a href="{% url 'Commodity_SubCategeory_list_load' %}">Tranding Commodities</a>
                            </li>

                        </ul>
                    </li>
                    {% endif %}
                      {% if request.user.user_type == '1' or 'SAVINGS MANAGER' in task_array %}
                         <li>
                            <a href="javascript:;"><i class="sidebar-item-icon fa fa-map"></i>
                                <span class="nav-label">Savings Manager</span><i class="fa fa-angle-left arrow"></i></a>
                            <ul class="nav-2-level collapse">
                                <li>
                                    <a href="{% url 'Savings_Manager_load' %}">Minumum Amount</a>
                                </li>
                                <li>
                                    <a href="{% url 'MembersCompulsorySavings' %}">Compulsory Savings</a>
                                </li>
                                 <li>
                                    <a href="{% url 'Xmas_Savings_Default_Transfer_Account' %}">Xmas Default Account</a>
                                </li>
                                <li>
                                    <a href="{% url 'WithdrawalController' %}">Withdrawal Controller</a>
                                </li>
                            </ul>
                        </li>
                      {% endif %}
                    {% if request.user.user_type == '1' or 'SERVICE CHARGES' in task_array %}
                        <li>
                            <a href="javascript:;"><i class="sidebar-item-icon fa fa-map"></i>
                                <span class="nav-label">Service Charges</span><i class="fa fa-angle-left arrow"></i></a>
                            <ul class="nav-2-level collapse">
                                <li>
                                    <a href="{% url 'membership_price_settings_load' %}">Members Registration</a>
                                </li>



                                <li>
                                    <a href="{% url 'addWelfare_Configurations' %}">Members Welfare</a>
                                </li>


                            </ul>
                        </li>
                    {% endif %}
                      {% if request.user.user_type == '1' or 'RENTAL SERVICES' in task_array %}
                     <li>
                            <a href="javascript:;"><i class="sidebar-item-icon fa fa-map"></i>
                                <span class="nav-label">Rental Service </span><i class="fa fa-angle-left arrow"></i></a>
                            <ul class="nav-2-level collapse">
                                 <li>
                                    <a href="{% url 'RentalMainCategories_add' %}">Rental Categories</a>
                                </li>

                                <li>
                                    <a href="{% url 'RentalProducts_add' %}">Rental Products</a>
                                </li>
                                <li>
                                    <a href="{% url 'Rental_Price_Settings' %}">Rental Price Settings</a>
                                </li>

                            </ul>
                        </li>
                      {% endif %}
                        {% if request.user.user_type == '1' or 'SHARE GENERAL INFORMATION' in task_array %}
                        <li>
                            <a href="javascript:;"><i class="sidebar-item-icon fa fa-file-text"></i>
                                <span class="nav-label">Shares Information</span><i class="fa fa-angle-left arrow"></i></a>
                            <ul class="nav-2-level collapse">


                                 <li>
                                    <a href="{% url 'Shares_Deduction_savings' %}">Shares Deduction Savings</a>
                                </li>


                                <li>
                                    <a href="{% url 'SharesUnits_add' %}">Shares Units</a>
                                </li>
                                <li>
                                    <a href="{% url 'SharesUnits_Max_Min_Values' %}">Initial Shares Min. and Max.</a>
                                </li>
                                <li>
                                    <a href="{% url 'AddShares_Configurations' %}">Unit Share Amount</a>
                                </li>

                            </ul>
                        </li>
                        {% endif %}
                          {% if request.user.user_type == '1' or 'SHOP UTILITIES' in task_array %}
                         <li>
                            <a href="javascript:;"><i class="sidebar-item-icon fa fa-file-text"></i>
                                <span class="nav-label">Shop Utilities</span><i class="fa fa-angle-left arrow"></i></a>
                            <ul class="nav-2-level collapse">
                                <li>
                                    <a href="{% url 'CustomerID_Manager' %}">Manage Customer ID</a>
                                </li>
                                <li>
                                    <a href="{% url 'Manage_Product_Code' %}">Stock Code</a>
                                </li>
                                <li>
                                        <a href="{% url 'addExpiringDateInterval' %}">Expiring Date Interval</a>
                                    </li>
                            </ul>
                        </li>
                        {% endif %}
                    {% if request.user.user_type == '1' or 'TERMINATION RECORDS' in task_array %}
                         <li>
                            <a href="javascript:;"><i class="sidebar-item-icon fa fa-file-text"></i>
                                <span class="nav-label">Termination Records</span><i class="fa fa-angle-left arrow"></i></a>
                            <ul class="nav-2-level collapse">


                               <li>
                                    <a href="{% url 'membership_termination_Duration_Manager_Transaction_Load' %}">Termination Duration</a>
                                </li>
                                <li>
                                    <a href="{% url 'Termination_Loan_Allowed_load' %}">Termination Loan Allowed</a>
                                </li>


                            </ul>
                        </li>
                    {% endif %}
                    {% if request.user.user_type == '1' or 'UTILITIES' in task_array %}
                        <li>
                            <a href="javascript:;"><i class="sidebar-item-icon fa fa-file-text"></i>
                                <span class="nav-label">General Utilities</span><i class="fa fa-angle-left arrow"></i></a>
                            <ul class="nav-2-level collapse">

                                 {% if request.user.user_type == '1' %}
                                 <li>
                                    <a href="{% url 'TransactionEnabler_Add' %}">Operational Task Add</a>
                                </li>
                                <li>
                                    <a href="{% url 'TransactionEnabler_Manage' %}">Operational Task Enabler</a>
                                </li>
                                <li>
                                    <a href="{% url 'Members_IdManager' %}">Membership ID</a>
                                </li>
                                <li>
                                    <a href="{% url 'addDefaultPassword' %}">Default Password</a>
                                </li>



                                <li>
                                    <a href="{% url 'TransactionTypes_Sources_Manage' %}">Apex Transaction Settings</a>
                                </li>
                                {% endif %}



                                 <li>
                                    <a href="{% url 'Manage_NOKRelationships_Max_No' %}">Maximum NOK</a>
                                </li>


                            </ul>
                        </li>
                    {% endif %}
                      {% if request.user.user_type == '1' or 'BANK ACCOUNTS' in task_array %}
                        <li>
                                <a href="javascript:;"><i class="sidebar-item-icon fa fa-file-text"></i>
                                        <span class="nav-label">Bank Account Records</span><i class="fa fa-angle-left arrow"></i></a>
                                    <ul class="nav-2-level collapse">


                                        <li>
                                            <a href="{% url 'CooperativeBankAccounts_add' %}">Add Bank Accounts</a>
                                        </li>

<li>
                                            <a href="{% url 'BankAccounts_Designation_List_Load' %}">Accounts Designation</a>
                                        </li>

                                    </ul>
                        </li>

                        {% endif %}
                    {% if request.user.user_type == '1' or 'INVOICE MANAGEMENT' in task_array %}
                        <li>
                                <a href="javascript:;"><i class="sidebar-item-icon fa fa-file-text"></i>
                                        <span class="nav-label">Invoice Manager</span><i class="fa fa-angle-left arrow"></i></a>
                                    <ul class="nav-2-level collapse">
                                        <li>
                                            <a href="{% url 'Invoice_Title' %}">Invoice Title </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'AutoReceipt_Setup' %}">Auto Receipt </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'FormAutoPrint_Settings' %}">Form and Receipt Print </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'receipt_manager' %}">Main Receipt Manager</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'receipt_manager_shop' %}">Shop Receipt Manager</a>
                                        </li>




                                    </ul>
                        </li>
                    {% endif %}

                    {% if request.user.user_type == '1' or 'COMPONENTS' in task_array %}
                        <li>
                                <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                                    <span class="nav-label">Components</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-2-level collapse">
                                    <li>
                                        <a href="javascript:;">
                                            <span class="nav-label">States</span><i class="fa fa-angle-left arrow"></i></a>
                                        <ul class="nav-3-level collapse">
                                            <li>
                                                <a href="{% url 'addState' %}">Add States</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'Manage_state' %}">Manage State</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="javascript:;">
                                            <span class="nav-label">NOK Relationships</span><i class="fa fa-angle-left arrow"></i></a>
                                        <ul class="nav-3-level collapse">

                                            <li>
                                                <a href="{% url 'addNOKRelationships' %}">Add NOK Relationships</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'Manage_NOKRelationships' %}">Manage NOK Relationships</a>
                                            </li>
                                        </ul>
                                    </li>


                                    <li>
                                        <a href="javascript:;">
                                            <span class="nav-label">LGA</span><i class="fa fa-angle-left arrow"></i></a>
                                        <ul class="nav-3-level collapse">
                                            <li>
                                                <a href="">Add LGA</a>
                                            </li>
                                            <li>
                                                <a href="">Manage LGA</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="nav-label">Departments</span><i class="fa fa-angle-left arrow"></i></a>
                                        <ul class="nav-3-level collapse">
                                            <li>
                                                <a href="{% url 'addDepartments' %}">Add Departments</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'Manage_Departments' %}">Manage Departments</a>
                                            </li>
                                        </ul>
                                    </li>


                                    <li>
                                        <a href="javascript:;">
                                            <span class="nav-label">Transaction Types</span><i class="fa fa-angle-left arrow"></i></a>
                                        <ul class="nav-3-level collapse">
                                            <li>
                                                <a href="{% url 'addTransactionTypes' %}">Add Transaction Types</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'TransactionTypes_Manage_Load' %}">Manage Transaction Types</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'TransactionTypes_Ranking_Load' %}">Ranking Transaction Types</a>
                                            </li>
                                        </ul>
                                    </li>


                                    <li>
                                        <a href="javascript:;">
                                            <span class="nav-label">Salary Institutions</span><i class="fa fa-angle-left arrow"></i></a>
                                        <ul class="nav-3-level collapse">
                                            <li>
                                                <a href="{% url 'addSalaryInstitution' %}">Add Salary Institutions</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'Manage_Salary_Institution' %}">Manage Salary Institutions</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="javascript:;">
                                            <span class="nav-label">Banks</span><i class="fa fa-angle-left arrow"></i></a>
                                        <ul class="nav-3-level collapse">
                                            <li>
                                                <a href="{% url 'addBanks' %}">Add Banks</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'Manage_Banks' %}">Manage Banks</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="nav-label">Locations</span><i class="fa fa-angle-left arrow"></i></a>
                                        <ul class="nav-3-level collapse">
                                            <li>
                                                <a href="{% url 'addLocations' %}">Add Locations</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'Manage_Locations' %}">Manage Locations</a>
                                            </li>
                                        </ul>
                                    </li>


                                    <li>
                                        <a href="javascript:;">
                                            <span class="nav-label">Gender</span><i class="fa fa-angle-left arrow"></i></a>
                                        <ul class="nav-3-level collapse">
                                            <li>
                                                <a href="{% url 'addGender'  %}">Add Gender</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'Manage_Gender' %}">Manage Gender</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="nav-label">Initials</span><i class="fa fa-angle-left arrow"></i></a>
                                        <ul class="nav-3-level collapse">
                                            <li>
                                                <a href="{% url 'addTitles' %}">Add Initials</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'Manage_Titles' %}">Manage Initials</a>
                                            </li>
                                        </ul>
                                    </li>



                                </ul>
                        </li>
                    {% endif %}



                     {% if request.user.user_type == '1' or 'DATA IMPORTS' in task_array %}
                        <li class="heading">IMPORT/EXPORT</li>

                        <li>
                            <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                                <span class="nav-label">IMPORT</span><i class="fa fa-angle-left arrow"></i></a>
                            <ul class="nav-2-level collapse">


                                <li>
                                    <a href="javascript:;">
                                        <span class="nav-label">Components</span><i class="fa fa-angle-left arrow"></i></a>
                                    <ul class="nav-3-level collapse">
                                        <li>
                                            <a href="{% url 'title_upload' %}">Title</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'states_upload' %}">States</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'lga_upload' %}">LGA</a>
                                        </li>

                                          <li>
                                            <a href="{% url 'Gender_upload' %}">Gender</a>
                                         </li>
                                         <li>
                                            <a href="{% url 'Banks_upload' %}">Banks</a>
                                         </li>


                                          <li>
                                            <a href="{% url 'Locations_upload' %}">Locations</a>
                                         </li>

                                         <li>
                                            <a href="{% url 'Departments_upload' %}">Departments</a>
                                         </li>
                                         <li>
                                            <a href="{% url 'SalaryInstitution_upload' %}">Salary Institution</a>
                                         </li>

                                         <li>
                                            <a href="{% url 'TransactionSources_upload' %}">Transaction Sources</a>
                                         </li>


                                         <li>
                                            <a href="{% url 'NOKRelationships_upload' %}">NOK Relationships</a>
                                         </li>


                                        <li>
                                            <a href="{% url 'ProductCategory_upload' %}">Product Category </a>
                                        </li>

                                        <li>
                                            {% comment %}<a href="{% url 'Stock_upload' %}">Product Upload </a>{% endcomment %}
                                            <a href="{% url 'upload_stock_roll' %}">Product Upload1 </a>
                                        </li>

                                        <li>
                                            <a href="{% url 'Product_Write_off_Reasons_upload' %}">Item Write-off Reasons </a>
                                        </li>


                                        {% comment %}{% endcomment %}
                                        <li>
                                            <a href="{% url 'SharesUnits_upload' %}">Shares Units</a>
                                        </li>


                                        <li>
                                            <a href="{% url 'MonthlyDeductionGenerationHeaders_upload' %}">Monthly Deduction Headers</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'Termination_Sources_upload' %}">Termination Types</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'ExceptableCriterias_upload' %}">Members Waver Categories</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'UserTypes_upload' %}">User Types</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'System_Users_Tasks_upload' %}">User Types Task</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'Transaction_Types_upload' %}">Transaction Types</a>
                                        </li>




                                    </ul>
                                </li>

                            </ul>
                        </li>

                    {% endif %}


                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-bar-chart"></i>
                            <span class="nav-label">Approvals</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                        {% if 'MEMBERSHIP APPROVAL' in task_array %}
                            <li>
                                <a href="{% url 'membership_request_approvals_list_load' %}">Membership Request</a>
                            </li>

                        {% endif %}
                        {% if 'LOAN REQUEST APPROVAL' in task_array  %}
                            <li>
                                <a href="{% url 'loan_request_approval_period_load' %}">Loan Request</a>
                            </li>
                        {% endif %}

                        {% if 'LOAN APPLICATION APPROVAL' in task_array %}
                            <li>
                                <a href="{% url 'Loan_application_approval_period_load' %}">Loan Application</a>
                            </li>
                        {% endif %}
                        {% if 'LOAN UNSCHEDULING APPROVAL' in task_array %}
                            <li>
                                <a href="{% url 'Loan_unscheduling_approval_load' %}">Loan Unscheduling</a>
                            </li>
                        {% endif %}
                          {% if 'COMMODITY LOAN APPROVAL' in task_array %}
                            <li>
                                <a href="{% url 'membership_commodity_loan_Period_approval_transaction_load' %}">Commodity Loan Approval</a>
                            </li>
                        {% endif %}
                        {% if 'MEMBERS EXCEPTIONS' in task_array %}
                            <li>
                                <a href="{% url 'members_exclusiveness_list_load' %}">Members Exclusiveness</a>
                            </li>
                        {% endif %}

                         {% if 'SHARE PURCHASE APPROVAL' in task_array %}
                            <li>
                                <a href="{% url 'Shares_Purchase_Request_Approval_List_Load' %}">Shares Purchase Request</a>
                            </li>
                        {% endif %}
                        {% if 'CASH WITHDRAWAL APPROVAL' in task_array %}
                            <li>
                                <a href="{% url 'Cash_Withdrawal_Request_Approval_List_Load' %}">Cash Withdrawal Request</a>
                            </li>
                        {% endif %}
                        {% if 'TERMINATION REQUEST' in task_array %}
                            <li>
                                <a href="{% url 'membership_termination_Request_Approval_List_Load' %}">Termination Request</a>
                            </li>
                             {% endif %}
                        {% if 'TERMINATION MATURITY EXCEPTION' in task_array %}
                            <li>
                                <a href="{% url 'membership_termination_maturity_date_exception_Approval_List_Load' %}">Termination Maturity Exception</a>
                            </li>
                             {% endif %}
                        {% if 'TERMINATION CASH DISBURSEMENT' in task_array %}
                            <li>
                                <a href="{% url 'membership_termination_Disbursement_Approval_List_Load' %}">Termination Disbursement</a>
                            </li>
                       {% endif %}

                        </ul>
                    </li>


                </ul>
            </div>
        </nav>
