{% load static %}
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="ibox bg-success color-white widget-stat">
                            <div class="ibox-body">
                                <h2 class="m-b-5 font-strong">{{members}}</h2>
                                <div class="m-b-5">ACTIVE MEMBERS</div><i class="ti-shopping-cart widget-stat-icon"></i>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="ibox bg-info color-white widget-stat">
                            <div class="ibox-body">
                                <h2 class="m-b-5 font-strong">1250</h2>
                                <div class="m-b-5">ACTIVE USERS</div><i class="ti-bar-chart widget-stat-icon"></i>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="ibox bg-warning color-white widget-stat">
                            <div class="ibox-body">
                                <h2 class="m-b-5 font-strong">{{transactions}}</h2>
                                <div class="m-b-5"><a href="{% url 'TransactionTypes_Manage_Load' %}" style="color: white;">TRANSACTIONS</a>  </div><i class="fa fa-money widget-stat-icon"></i>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="ibox bg-danger color-white widget-stat">
                            <div class="ibox-body">
                                <h2 class="m-b-5 font-strong">{{active_users}}</h2>
                                <div class="m-b-5"> <a href="{% url 'List_of_Users' %}">ACTIVE USERS</a></div><i class="ti-user widget-stat-icon"></i>
                                
                            </div>
                        </div>
                    </div>
                </div>