{% load static %}
    <nav class="page-sidebar" id="sidebar">
        <div id="sidebar-collapse">
            <div class="admin-block d-flex">
                <div>
                    <img src="{% static '/cooperative/assets/img/admin-avatar.png' %}" width="45px" />
                </div>
                <div class="admin-info">
                    <div class="font-strong"> {{request.user}}</div><small>Desk Office</small>
                </div>
            </div>
            <ul class="side-menu metismenu">
                <li>
                    <a class="active" href="{% url 'deskofficer_home' %}"><i class="sidebar-item-icon fa fa-th-large"></i>
                        <span class="nav-label">Dashboard</span>
                    </a>
                </li>



                <li class="heading"> FEATURES </li>

                {% if default_password == "NO" %}

                {% if  'MEMBERSHIP REGISTRATION' in task_array %}
                <li>
                    <a href="javascript:;"><i class="sidebar-item-icon fa fa-edit"></i>
                        <span class="nav-label">Enrollment</span><i class="fa fa-angle-left arrow"></i></a>
                    <ul class="nav-2-level collapse">

                        <li>
                            {% url 'membership_request' as membership_request %}
                            <a href="{{ membership_request }}" class="nav-link {% if request.path == membership_request %} active {% endif %}">New Member Request</a>
                        </li>
                        <li>
                            <a href="{% url 'membership_request_complete_search' %}">Complete Request</a>
                        </li>
                          <li>
                            <a href="{% url 'membership_request_manage_search' %}">Manage Request</a>
                        </li>
                        <li>
                            <a href="{% url 'membership_form_Approved_list_load' %}">View Approved Membership Request</a>
                        </li> 
                        <li>
                            <a href="{% url 'membership_form_sales_Search' %}">Membership Form Sales</a>
                        </li>
                        <li>
                            <a href="{% url 'membership_registration_applicant_search' %}">Membership Registration</a>
                        </li>
                    </ul>
                </li>


                <li>
                    <a href="javascript:;"><i class="sidebar-item-icon fa fa-edit"></i>
                        <span class="nav-label">Account Creation</span><i class="fa fa-angle-left arrow"></i></a>
                    <ul class="nav-2-level collapse">

                        <li>
                            <a href="{% url 'Members_Account_Creation_preview_all' %}">All Members Account Creations</a>
                        </li>
                        <li>
                            <a href="{% url 'Members_Account_Creation_Search' %}">Single Account Creations</a>
                        </li>
                        <li>
                            <a href="{% url 'Members_Multiple_Account_Creation_preview' %}">Multiple Account Creations</a>
                        </li>
                    </ul>
                </li>
                {% endif %}



                {% if 'STANDING ORDER PLACEMENT' in task_array %}
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-edit"></i>
                            <span class="nav-label">Standing Order</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">

                            <li>
                                <a href="{% url 'standing_order_list_load' %}">Group Standing Orders</a>
                            </li>
                            <li>
                                <a href="{% url 'standing_order_selected_search' %}">Selected Standing Order</a>
                            </li>
                            <li>
                                <a href="{% url 'standing_order_reactivate_account_search' %}">Reactivate Standing Order</a>
                            </li>

                        </ul>
                    </li>
                {% endif %}

                {% if 'TRANSACTION ADJUSTMENT'  in task_array %}
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                            <span class="nav-label">Transaction Adjustment</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                           <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Savings Adjustment</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                    <li>
                                        <a href="{% url 'Transaction_adjustment_search' %}">Place Request</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'Transaction_Adjustment_Manage' %}">Manage Adjustment Request</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'Transaction_Adjustment_Approved_View_List_Load' %}">View Approved List</a>
                                    </li>  
                                    <li>
                                        <a href="{% url 'Transaction_Savings_Adjustment_Approved_List_search' %}">Process Request</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Loan Adjustment</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                    <li>
                                        <a href="{% url 'Transaction_Loan_adjustment_search' %}">Place Request</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'Transaction_Loan_adjustment_Transaction_Approved_List_Load' %}">Process Request</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="{% url 'Savings_Lockup_search' %}">Unlocking Savings</a>
                            </li>
                        </ul>
                    </li>

                {% endif %}

                {% if 'SAVINGS SUSPENSE'  in task_array %} 
                <li>
                    <a href="javascript:;"><i class="sidebar-item-icon fa fa-edit"></i>
                        <span class="nav-label">Savings Suspense</span><i class="fa fa-angle-left arrow"></i></a>
                    <ul class="nav-2-level collapse">

                        <li>
                            <a href="{% url 'Standing_Order_Suspension_search' %}">Suspense Request</a>
                        </li>
                        <li>
                            <a href="{% url 'Standing_Order_Suspension_Transaction_Approval_Processing_Load' %}">Process Suspense</a>
                        </li>
                        <li>
                            <a href="{% url 'Standing_Order_Suspension_Transaction_Releasing_search' %}">Suspense Release Request</a>
                        </li>
                        <li>
                            <a href="{% url 'Standing_Order_Suspension_Transaction_Activation_Approval_Processing_Load' %}">Process Suspense Release</a>
                        </li>
                        

                    </ul>
                </li>
               {% endif %}
                {% if 'LOAN SCHEDULE' in task_array %} 
                <li>
                    <a href="javascript:;"><i class="sidebar-item-icon fa fa-edit"></i>
                        <span class="nav-label">Manage Loan Scedule</span><i class="fa fa-angle-left arrow"></i></a>
                    <ul class="nav-2-level collapse">

                        <li>
                            <a href="{% url 'loan_unscheduling_request_search' %}">Unschedule Request</a>
                        </li>
                        <li>
                            <a href="{% url 'loan_unscheduling_request_transaction_processing' %}">Process Unschedule Request</a>
                        </li>
                        <li>
                            <a href="{% url 'Loan_processing_scheduling_all_unscheduled' %}">Loan Scheduling</a>
                        </li> <li>
                            <a href="{% url 'Loan_processing_scheduling_based_on_date' %}">Date Based Scheduling</a>
                        </li>
                    </ul>
                </li>
               {% endif %}
                {% if 'CASH DEPOSIT' in task_array %}
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-edit"></i>
                            <span class="nav-label">Cash Deposit</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">

                            <li>
                                <a href="{% url 'Cash_Deposit_Savings_Search' %}">Savings</a>
                            </li>
                            <li>
                                <a href="{% url 'Cash_Deposit_Loans_Search' %}">Loan</a>
                            </li>
                            <li>
                                <a href="{% url 'Cash_Deposit_Welfare_Search' %}">Welfare</a>
                            </li>
                            <li>
                                <a href="{% url 'Cash_Deposit_Shares_Search' %}">Shares</a>
                            </li>

                        </ul>
                    </li>
                {% endif %}
                {% if 'CASH WITHDRAWAL' in task_array %}
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                            <span class="nav-label">Cash Withdrawal</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                            <li>
                                <a href="{% url 'Cash_Withdrawal_Search' %}">Withdrawal Request</a>
                            </li>

                            <li>
                                <a href="{% url 'Cash_Withdrawal_Transactions_Request_Status_list_Search' %}">Request Status</a>
                            </li>
                            <li>
                                <a href="{% url 'Cash_Withdrawal_Transactions_All_Uncleared_list_Load' %}">All Uncleared Request</a>
                            </li>
                           <li>
                                <a href="{% url 'Cash_Withdrawal_Transactions_Approved_list_Search' %}">Approved Withrawal Request</a>
                            </li>

                        </ul>
                    </li>
                {% endif %}
                {% if 'XMAS SAVINGS TRANSACTIONS' in task_array and 'XMAS SAVINGS OPERATION' in task_enabler_array %}
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                            <span class="nav-label">XMAS Savings Transactions</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                            <li>
                                <a href="{% url 'Xmas_Savings_Shortlisting_list_Load' %}">Xmas Savings Shortlisting</a>
                            </li>
                            <li>
                                <a href="{% url 'Xmas_Savings_Shortlisting_Filter_Batch_Load' %}">Filter XMAS Records </a>
                            </li>
                            <li>
                                <a href="{% url 'Xmas_Savings_Shortlisting_Account_Linkage_Batch_Load' %}">XMAS Account Linkage </a>
                            </li>
                            <li>
                                <a href="{% url 'Xmas_Savings_Shortlisting_Export_Batch_Load' %}">Export XMAS Records </a>

                            </li>
                            <li>
                                <a href="{% url 'Xmas_Savings_Shortlisting_Processing_Batch_Load' %}">Process XMAS Records </a>
                            </li>
                            <li>
                                <a href="{% url 'Xmas_Savings_Shortlisting_Ledger_Posting_Batch_Load' %}">XMAS Ledger Posting </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}


                {% if 'PERSONNEL INFO' in task_array  %}
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                            <span class="nav-label">Personnel Info</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                           <li>
                                <a href="{% url 'Norminal_Roll_Search' %}">Norminal Roll</a>
                            </li>
                            <li>
                                <a href="{% url 'Norminal_Roll_Update_Coop_Number_Search' %}">Update Cooperative Number</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                {% if 'SHARE MANAGEMENT'  in task_array and 'INITIAL SHARES MANAGER' in task_enabler_array %}
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                            <span class="nav-label">Shares Manager</span><i class="fa fa-angle-left arrow"></i></a>
                            <ul class="nav-2-level collapse">

                                <li>
                                    <a href="javascript:;">
                                        <span class="nav-label">Initial Shares Record</span><i class="fa fa-angle-left arrow"></i></a>
                                    <ul class="nav-3-level collapse">
                                        <li>
                                            <a href="{% url 'Members_Initial_Shares_update_Search' %}">Update Request</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'Members_Initial_Shares_update_approved_list_load' %}">Process Update Request</a>
                                         </li>

                                     </ul>
                                </li>


                                <li>
                                    <a href="javascript:;">
                                        <span class="nav-label">Shares Requesition</span><i class="fa fa-angle-left arrow"></i></a>
                                    <ul class="nav-3-level collapse">
                                        <li>
                                            <a href="{% url 'Members_Share_Purchase_Request_Search' %}">Request for Shares</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'Members_Share_Purchase_Request_Manage_Search' %}">Manage Request</a>
                                         </li>
                                        <li>
                                            <a href="{% url 'Members_Share_Purchase_Request_Process' %}">Process Request</a>
                                        </li>
                                     </ul>
                                </li>

                        </ul>
                    </li>
                {% endif %}


                {% if 'NEXT OF KIN'  in task_array %}
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-edit"></i>
                            <span class="nav-label">Next of Kin</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">

                            <li>
                                <a href="{% url 'Members_Next_Of_Kins_search' %}">Add Next of Kin</a>
                            </li>
                            <li>
                                <a href="{% url 'Members_Next_Of_Kins_Manage_search' %}">Manage Next of Kin</a>
                            </li>
                            <li>
                                <a href="{% url 'Members_Without_Next_of_Kin_list_load' %}">Members Without NOK</a>
                            </li>

                        </ul>
                    </li>
                 {% endif %}


                 {% comment %}     {% if 'MEMBERS WAVERS'  in task_array and 'MEMBERS WAVERS' in task_enabler_array  %}
                 {% endcomment %}

                {% if 'MEMBERS WAVERS'  in task_array  %}


                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                            <span class="nav-label">Members Wavers</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                           <li>
                                <a href="{% url 'members_wavers_request_search' %}">Place Request</a>
                            </li>
                            <li>
                                <a href="javascript:;">Manage Request</a>
                            </li>
                            </ul>
                    </li>

                {% endif %}
                



                {% if 'LOAN MANAGEMENT'  in task_array %}
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                            <span class="nav-label">Loan Manager</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                              <li>
                                <a href="{% url 'Project_Loan_Dashboard_Load' %}">Project Loans</a>
                            </li>
                           <li>
                                <a href="{% url 'Emergency_Loan_Dashboard_Load' %}">Emergency Loans</a>
                            </li>
                            <li>
                                <a href="{% url 'Commodity_Loan_Dashboard_Load' %}">Commodity Loans</a>
                            </li>

                        </ul>
                    </li>
                {% endif %}


                {% if 'MONTHLY DEDUCTIONS'  in task_array %}

                  <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                            <span class="nav-label">Monthly Deductions</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                            <li>
                                <a href="{% url 'TransactionPeriodManager' %}">Transaction Period Manager</a>
                            </li>
                                   
                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Outgoing Transactions</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                     
                                    <li>
                                        <a href="{% url 'Monthly_Deduction_Salary_Institution_Load' %}">Individual Transactions</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'Monthly_Group_transaction_Institution_Load' %}">Group Transactions</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'Monthly_Deduction_Main_and_Shop_Merger_Institution_load' %}">Main and Shop Merger</a>
                                    </li> 
                                    <li>
                                        <a href="{% url 'Monthly_Deduction_Transaction_Reverse_Institution_load' %}">Reverse Generated Transactions</a>
                                    </li>

                                    <li>
                                        <a href="{% url 'Monthly_Deduction_excel_Export_Institution_Load' %}">Exporting To Excel</a>
                                    </li>


                                </ul>
                            </li>


                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Incoming Transactions</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                    
                                    <li>
                                        <a href="{% url 'Monthly_Account_deduction_Excel_import_Institution_Load' %}">Import Account Deductions</a>
                                    </li>


                                    <li>
                                        <a href="{% url 'Monthly_Account_deduction_Processing_Institution_Load' %}">Process Account Deductions</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'Monthly_Account_Main_and_Shop_Deductions_Separations' %}">Main and Shop Separations</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'Monthly_Main_Account_deductions_Separations' %}">Main Deductions Separations</a>
                                    </li>
                                     <li>
                                        <a href="{% url 'Monthly_deduction_ledger_posting_preview' %}">Deductions Ledger Posting</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'monthly_wrongful_deduction_transaction_period_load' %}">Monthly Wrongful Deductions</a>
                                    </li>

                                    <li>
                                        <a href="{% url 'Monthly_Unbalanced_transactions' %}">Non Balanced Deductions</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Auxillary Transactions</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                    
                                    <li>
                                        <a href="{% url 'Monthly_Deduction_Generated_Update_Institution_Load' %}">Import Account Deductions</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'Monthly_Auxillary_Imported_Deduction_View_List_Institution_Load' %}">View Imported  Deductions</a>
                                    </li>


                                    <li>
                                        <a href="{% url 'Monthly_Auxillary_Deduction_Generated_Merger_Institution_Load' %}">Merging Transactions</a>
                                    </li>
                                     <li>
                                        <a href="{% url 'Monthly_Auxillary_Deduction_Generated_Update_Transaction_Institution_Load' %}">Auxillary Transaction Update</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'Monthly_Auxillary_Deduction_Generated_Export_Institution_Load' %}">Export Auxillary Transaction</a>
                                    </li>
                                    

                                </ul>
                            </li>
                           
                        
                        </ul>
                    </li>


                {% endif %}

                {% if 'LEDGER MULTI OPERATIONS'  in task_array %}
                <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-bar-chart"></i>
                            <span class="nav-label">Ledger Multi Operations</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                            <li>
                                <a href="{% url 'Manual_Ledger_Posting_search' %}">Manual Ledger Posting</a>
                            </li> 
                           <li>
                                <a href="{% url 'Manual_Ledger_Posting_Reverse_search' %}">Transaction Reverse</a>
                            </li>

                        </ul>
                    </li>
                {% endif %}

                 
                {% if 'BANK ACCOUNTS'  in task_array %}
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-bar-chart"></i>
                            <span class="nav-label">Bank Accounts</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                            <li>
                                <a href="{% url 'Members_Bank_Account_Dashboard_Load' %}">Members Bank Accounts</a>
                            </li>
                            <li>
                                <a href="{% url 'Cooperative_Bank_Account_Dashboard' %}">Cooperative  Bank Accounts</a>
                            </li>

                        </ul>
                    </li>
                {% endif %}
                {% if 'RENTAL SERVICES'  in task_array %}
                 <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-bar-chart"></i>
                            <span class="nav-label">Rental Services</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                            <li>
                                <a href="{% url 'Rental_Services_Category_List_Load' %}">Service Booking</a>
                            </li>
                            <li>
                                <a href="{% url 'Rental_Services_Unpaid_Bill' %}">Unpaid Bills</a>
                            </li>
                            <li>
                                <a href="{% url 'Rental_Services_Management' %}">Manage Booking</a>
                            </li>


                        </ul>
                    </li>
                {% endif %}
                {% if 'DAILY TRANSACTION SUMMARY'  in task_array %}
                <li>
                    <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                        <span class="nav-label">Daily Transactions Summary</span><i class="fa fa-angle-left arrow"></i></a>
                    <ul class="nav-2-level collapse">
                         <li>
                            <a href="javascript:;">Membership Form Sales</a>
                        </li>

                         <li>
                            <a href="javascript:;">Loan Form Sales</a>
                        </li>
                        <li>
                            <a href="javascript:;">Cash Deposit</a>
                        </li>

                    </ul>
                </li>
                {% endif %}
                {% if 'DAY END TRANSACTION'  in task_array %}
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                            <span class="nav-label">Day End Transactions</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                             <li>
                                <a href="{% url 'MemberShipFormSalesSummary' %}">Membership Form Sales</a>
                            </li>

                             <li>
                                <a href="{% url 'Cash_Deposit_Report_Date_Load' %}">Loan Form Sales</a>
                            </li>
                            <li>
                                <a href="{% url 'Cash_Deposit_Report_Date_Load' %}">Cash Deposit</a>
                            </li>

                        </ul>
                    </li>

                {% endif %}

                {% if 'MONTH END TRANSACTION'  in task_array %} 
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                            <span class="nav-label">Month End Transactions</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                             <li>
                                <a href="javascript:;">Membership Form Sales</a>
                            </li>

                             <li>
                                <a href="javascript:;">Loan Form Sales</a>
                            </li>
                            <li>
                                <a href="javascript:;">Cash Deposit</a>
                            </li>

                        </ul>
                    </li>
                {% endif %}
                {% if 'YEAR END TRANSACTION'  in task_array %}
                <li>
                    <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                        <span class="nav-label">Year End Transactions</span><i class="fa fa-angle-left arrow"></i></a>
                    <ul class="nav-2-level collapse">
                         <li>
                            <a href="javascript:;">Membership Form Sales</a>
                        </li>

                         <li>
                            <a href="javascript:;">Loan Form Sales</a>
                        </li>
                        <li>
                            <a href="javascript:;">Cash Deposit</a>
                        </li>

                    </ul>
                </li>
                {% endif %}


                {% if   'MEMBERSHIP TERMINATION' in task_array %}
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-edit"></i>
                            <span class="nav-label">Members Termination</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">

                            <li>
                                <a href="{% url 'membership_termination_search' %}">Termination Request</a>
                            </li>
                             <li>
                                <a href="{% url 'membership_termination_approved_list_processing_list_load' %}">Termination Processing</a>
                            </li>
                            <li>
                                <a href="{% url 'membership_termination_maturity_date_exception_search' %}">Maturity Date Exception</a>
                            </li>
                            <li>
                                <a href="{% url 'membership_termination_maturity_date_exception_approved_list_load' %}">Maturity Exception Processing</a>
                            </li>
                            <li>
                                <a href="{% url 'membership_termination_Disbursement_Processing_list_Load' %}">Termination Fund Disbursement</a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                {% if 'SHARE UPDATE APPROVAL'  in task_array or 'SHOP CREDIT SALES APPROVALS'  in task_array or 'TRANSACTION ADJUSTMENT APPROVAL'  in task_array or 'STANDING ORDER SUSPENSION APPROVAL'  in task_array  %}

                <li class="heading">APPROVALS</li>
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                            <span class="nav-label">TRANSACTIONS APPROVAL</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                        {% if 'SHOP CREDIT SALES APPROVALS'  in task_array  %}
                            <li>
                               <a href="{% url 'members_credit_purchase_approval' %}">Shop Credit Sales</a>
                            </li>

                        {% endif %}




                        {% if 'SHARE UPDATE APPROVAL'  in task_array %}
                            <li>
                               <a href="{% url 'Initial_Shares_Update_List_Load' %}">Initial Share Update</a>
                            </li>
                        {% endif %}


                        {% if 'TRANSACTION ADJUSTMENT APPROVAL'  in task_array or 'STANDING ORDER SUSPENSION APPROVAL'  in task_array %}


                              {% if 'TRANSACTION ADJUSTMENT APPROVAL'  in task_array %}

                                   <li>
                                       <a href="{% url 'Transaction_Adjustment_Approval_list_Load' %}">Standing Order Adjustment</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'Transaction_Loan_Adjustment_Approval_list_Load' %}">Loans Repayment Adjustment</a>
                                    </li>


                                {% endif %}
                                {% if 'STANDING ORDER SUSPENSION APPROVAL'  in task_array %}
                                    <li>
                                        <a href="{% url 'Standing_Order_Suspension_Transaction_Approval_Load' %}">Standing Order Suspension</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'Standing_Order_Suspension_Transaction_Releasing_Approval_Load' %}">Standing Order Activation</a>
                                    </li>
                                {% endif %}

                        {% endif %}
                        </ul>
                    </li>
                {% endif %}


                {% if 'GENERAL REPORT'  in task_array %}
                    <li class="heading">REPORTS</li>
                        <li>
                                <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                                    <span class="nav-label">General Reports</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-2-level collapse">
                                     <li>
                                        <a href="{% url 'Members_Dashboard_Search' %}">Members Dashboard</a>
                                    </li>                           
                                    
                                    <li>
                                        <a href="javascript:;">
                                            <span class="nav-label">Savings Transactions</span><i class="fa fa-angle-left arrow"></i></a>
                                        <ul class="nav-3-level collapse">
                                            
                                            <li>
                                                <a href="{% url 'Standing_Orders_Transaction_List_Load' %}">Standing Orders</a>
                                            </li>  
                                            <li>
                                                <a href="{% url 'Standing_Order_Consolidated_Salary_Institution_list_load' %}">Consolidated Standing Orders</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'Balance_Brought_Forward_Consolidated_Salary_Institution_list_load' %}">Consolidated Balance Brought Forward</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'Transaction_adjustment_history_Search' %}">Transaction Adjustment History</a>
                                            </li>
                                        </ul>
                                    </li>

                                        <li>
                                        <a href="javascript:;">
                                            <span class="nav-label">Loan Transactions</span><i class="fa fa-angle-left arrow"></i></a>
                                        <ul class="nav-3-level collapse">
                                            <li>
                                                <a href="javascript:;">Loans Applcations</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'Load_Active_loans_Transaction_List_Load' %}">Active Loans</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'Members_Cleared_Loans_Records' %}">Cleared Loans</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'Loan_Repayment_Consolidated_Salary_Institution_list_load' %}">Consolidated Loan Repayments</a>
                                            </li>
                                             <li>
                                                <a href="{% url 'Loan_Balance_Broght_Forward_Consolidated_Salary_Institution_list_load' %}">Consolidated Loan Ledger Balance</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="nav-label">Application Forms</span><i class="fa fa-angle-left arrow"></i></a>
                                        <ul class="nav-3-level collapse">
                                            <li>
                                                <a href="{% url 'MemberShipFormSales_Report_individual_Search' %}">Individual Records</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'MemberShipFormSalesReport' %}">General Records</a>
                                            </li>

                                        </ul>
                                    </li>




                                     <li>
                                        <a href="{% url 'Cash_Deposit_Report_Date_Load' %}">Cash Deposit</a>
                                    </li>

                             
                                    <li>
                                        <a href="javascript:;">
                                            <span class="nav-label">Norminal Roll</span><i class="fa fa-angle-left arrow"></i></a>
                                        <ul class="nav-3-level collapse">
                                            <li>
                                                <a href="{% url 'Norminal_Roll_List_Load' %}">Comprehensive List</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'Norminal_Roll_By_Institution_Load' %}">Based on Institutions</a>
                                            </li>

                                        </ul>
                                    </li>



                                    
                                    <li>
                                        <a href="{% url 'PersonalLedger_Selected_Search' %}">Personal Ledger</a>
                                    </li>


                                    <li>
                                        <a href="javascript:;">
                                            <span class="nav-label">Welfare Package</span><i class="fa fa-angle-left arrow"></i></a>
                                        <ul class="nav-3-level collapse">
                                            <li>
                                                <a href="{% url 'Members_Welfare_Report_Search' %}">Individual Records</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'Members_Welfare_Report_General_Records' %}">General Records</a>
                                            </li>

                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="nav-label">Shares Package</span><i class="fa fa-angle-left arrow"></i></a>
                                        <ul class="nav-3-level collapse">
                                            <li>
                                                <a href="{% url 'Members_Initial_Shares_Reports_Load' %}">Initial Share Records</a>
                                            </li>
                                             <li>
                                                <a href="{% url 'Members_Individual_Shares_Report_Search' %}">Individual Share Records</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'Members_General_Shares_Report_List_Load' %}">General Records</a>
                                            </li>
                                        </ul>
                                    </li>

                                 

                                    <li>
                                        <a href="javascript:;">
                                            <span class="nav-label">Covering Notes</span><i class="fa fa-angle-left arrow"></i></a>
                                        <ul class="nav-3-level collapse">
                                            <li>
                                                <a href="{% url 'Monthly_Deduction_Covering_Note' %}">Monthly Deductions</a>
                                            </li>

                                        </ul>
                                    </li>
                                     <li class="heading">MONTHLY DEDUCTIONS</li>


                                    <li>
                                        <a href="javascript:;">
                                            <span class="nav-label">Monthly Deduction</span><i class="fa fa-angle-left arrow"></i></a>
                                        <ul class="nav-3-level collapse">
                                            <li>
                                                <a href="{% url 'Monthly_Deductions_All_Records_Report_Period' %}">Grouped Records</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'Monthly_Deductions_Report_Search' %}">Selected Records</a>
                                            </li>

                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="nav-label">Wrongful Deductions</span><i class="fa fa-angle-left arrow"></i></a>
                                        <ul class="nav-3-level collapse">
                                            <li>
                                                <a href="{% url 'Over_Deductions_report' %}">Over Deductions</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'Under_Deductions_report' %}">Under Deductions</a>
                                            </li>
                                            <li>
                                               <a href="{% url 'Non_Members_Deductions_report' %}">Non Member Deductions</a>
                                            </li>

                                        </ul>
                                    </li>

                                </ul>
                        </li>
                {% endif %}

                {% if 'DATA CAPTURE'  in task_array and 'DATA CAPTURE'  in task_enabler_array %}
                <li class="heading">INITIAL DATA </li>
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                            <span class="nav-label">Data Capture</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">

                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Norminal Roll</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                   {% comment %} <li>
                                        <a href="{% url 'upload_norminal_roll' %}">Compound Norminal Roll</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'upload_distinct_norminal_roll' %}">Distinct Norminal Roll</a>
                                    </li>
                                   <li>
                                        <a href="{% url 'Norminal_Roll_Preview' %}">Process Norminal Roll</a>
                                     </li>{% endcomment %}
                                     <li>
                                        <a href="{% url 'Individual_Capture' %}">Individual Record Capture</a>
                                     </li>
                                     <li>
                                        <a href="{% url 'Duplicate_Membership_Records_List_load' %}">Duplicate Membership Records</a>
                                     </li> 
                                      <li>
                                        <a href="{% url 'Duplicate_Membership_Ippis_List_load' %}">Duplicate IPPIS Records</a>
                                     </li>
                                     <li>
                                        <a href="{% url 'Individual_Capture_Delete_Search' %}">Delete Registered Member</a>
                                     </li>
                                   


                                </ul>
                            </li>



                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Savings</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                   
                                    <li>
                                        <a href="{% url 'Uploading_Existing_Savings_Search' %}">Selected Savings Upload</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'Uploading_Existing_Savings_Additional_search' %}">Additional Savings</a>
                                    </li> 
                                    <li>
                                        <a href="{% url 'Uploading_Existing_Savings_Done_List_Select_Period' %}">General Savings Uploaded</a>
                                    </li>
                                     <li>
                                        <a href="{% url 'Uploading_Existing_Savings_Done_Selected_List_Search' %}">Selected Savings Uploaded</a>
                                    </li>
                                    

                                    <li>
                                        <a href="{% url 'Uploading_Existing_Savings_All_List_Search' %}">Revert Uploaded Savings</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'Members_without_Compulsory_Savings' %}">Members Without Compulsory Savings</a>
                                    </li> 
                                 
                                    <li>
                                        <a href="{% url 'Unvalidated_Savings' %}">Unvalidated Savings</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Monetary Loans</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                    <li>
                                       <a href="{% url 'Uploading_Existing_Loans_Search' %}">Uploading Loans</a>
                                    </li>
                                    <li>
                                       <a href="{% url 'Uploading_Existing_Additional_Loans_Search' %}">Additional Loan</a>
                                    </li>
                                    <li>
                                       <a href="{% url 'Uploade_Existing_Loan_Period_load' %}">Already Uploaded Loans</a>
                                    </li>

                                    <li>
                                        <a href="{% url 'Uploaded_Existing_Loan_Revert_Search' %}">Revert Uploaded Loans</a>
                                    </li> 
                                    
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Non Monetary Loans</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                    <li>
                                       <a href="{% url 'Upload_Commodity_Product_Loan_Transaction_Load' %}">Upload Commodity Loans</a>
                                    </li>
                                    
                                    <li>
                                       <a href="{% url 'Upload_Commodity_Product_Loan_Products_Uploaded' %}">Already Uploaded Commodity Loans</a>
                                    </li>
                                   
                                </ul>
                            </li>
                           <li>
                               <a href="{% url 'Members_Ledger_Balance_Update_Search' %}">Updating Ledger Balance</a>
                            </li>
                            <li>
                               <a href="{% url 'Members_Shares_Upload_Search' %}">Uploading Shares</a>
                            </li>

                            <li>
                               <a href="{% url 'Members_Welfare_Upload_Search' %}">Uploading Welfare</a>
                            </li>

                        </ul>
                    </li>
                {% endif %}


                {% comment %}
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                            <span class="nav-label">Menu Levels</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                            <li>
                                <a href="{% url 'desk_advanced_form' %}">Level 2</a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Level 2</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                    <li>
                                        <a href="javascript:;">Level 3</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Level 3</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                
{% endcomment %}
                {% endif %}
            </ul>
        </div>
    </nav>
