{% load static %}
        <nav class="page-sidebar" id="sidebar">
            <div id="sidebar-collapse">
                <div class="admin-block d-flex">
                    <div>
                        <img src="{% static '/cooperative/assets/img/admin-avatar.png' %}" width="45px" />
                    </div>
                    <div class="admin-info">
                        <div class="font-strong">{{request.user}}</div><small>Desk Office</small></div>
                </div>
                <ul class="side-menu metismenu">
                    <li>
                        <a class="active" href="{% url 'deskofficer_home' %}"><i class="sidebar-item-icon fa fa-th-large"></i>
                            <span class="nav-label">Dashboard</span>
                        </a>
                    </li>
                    <li class="heading">FEATURES</li>
                {% if  current_user.membership_registration or current_user.termination %}
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                            <span class="nav-label">Membership</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                            {% if  current_user.membership_registration  %}
                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label"> New Members</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                    <li>
                                        <a href="{% url 'membership_request' %}">New Member Request</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'membership_request_complete_search' %}">Complete Request</a>
                                    </li>
                                      <li>
                                        <a href="{% url 'membership_request_manage_search' %}">Manage Request</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'membership_form_sales_list_load' %}">Membership Form Sales</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'membership_registration_applicant_search' %}">Membership Registration</a>
                                    </li>  
                                   
                                    <li>
                                        <a href="{% url 'Members_Account_Creation_Search' %}">Single Account Creations</a>
                                    </li> 
                                    <li>
                                        <a href="{% url 'Members_Multiple_Account_Creation_preview' %}">Multiple Account Creations</a>
                                    </li>
                           
                                </ul>
                            </li>
                            {% endif %}
                         {% if  current_user.termination %}
                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Members Termination</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                    <li>
                                        <a href="{% url 'membership_termination_search' %}">Termination Request</a>
                                    </li>
                                    <li>
                                        <a href="">Termination Processing</a>
                                    </li>
                                    
                                </ul>
                            </li>
                        {% endif %}
                        </ul>
                    </li>
            {% endif %}
         
            {% if current_user.standing_order_placement %}
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-edit"></i>
                            <span class="nav-label">Standing Order</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                           
                            <li>
                                <a href="{% url 'standing_order_list_load' %}">Group Standing Orders</a>
                            </li>
                            <li>
                                <a href="{% url 'standing_order_selected_search' %}">Selected Standing Order</a>
                            </li>

                        </ul>
                    </li>
                {% endif %}

                {% if current_user.transaction_adjustment  %}
                     <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                            <span class="nav-label">Transaction Adjustment</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                           <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Savings</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                    <li>
                                        <a href="{% url 'Transaction_adjustment_search' %}">Place Request</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'Transaction_Adjustment_Approved_List_Load' %}">Process Request</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Loan</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                    <li>
                                        <a href="{% url 'Transaction_Loan_adjustment_search' %}">Place Request</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'Transaction_Loan_adjustment_Transaction_Approved_List_Load' %}">Process Request</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Gross Salary Update</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                    <li>
                                        <a href="{% url 'Transaction_Salary_adjustment_Request_search' %}">Place Request</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'Transaction_Salary_adjustment_Request_Manage_List_Load' %}">Manage Request</a>
                                    </li> 
                                    <li>
                                        <a href="{% url 'Transaction_Salary_adjustment_Request_Manage_Process_List_Load' %}">Process Request</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>


                {% endif %} 

                {% if current_user.cash_deposit %}
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-edit"></i>
                            <span class="nav-label">Cash Deposit</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                           
                            <li>
                                <a href="{% url 'Cash_Deposit_Savings_Search' %}">Savings</a>
                            </li>
                            <li>
                                <a href="{% url 'Cash_Deposit_Loans_Search' %}">Loan</a>
                            </li>
                            <li>
                                <a href="{% url 'Cash_Deposit_Welfare_Search' %}">Welfare</a>
                            </li>
                            <li>
                                <a href="{% url 'Cash_Deposit_Shares_Search' %}">Shares</a>
                            </li>

                        </ul>
                    </li>
                {% endif %}
                {% if current_user.cash_withdrawal %}
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-edit"></i>
                            <span class="nav-label">Cash Withdrawal</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                           
                            <li>
                                <a href="{% url 'Cash_Withdrawal_Search' %}">Withdrawal Request</a>
                            </li>
                           
                            <li>
                                <a href="{% url 'Cash_Withdrawal_Transactions_Approved_list_Search' %}">Request Status</a>
                            </li>
                           

                        </ul>
                    </li>
                {% endif %}
                {% if current_user.personnel_info %}
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                            <span class="nav-label">Personnel Info</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                           <li>
                                <a href="{% url 'Norminal_Roll' %}">Norminal Roll</a>
                            </li>                              
                        </ul>
                    </li>
                {% endif %}  
                {% if current_user.share_management %} 
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                            <span class="nav-label">Shares Manager</span><i class="fa fa-angle-left arrow"></i></a>
                            <ul class="nav-2-level collapse">
                           
                                <li>
                                    <a href="javascript:;">
                                        <span class="nav-label">Initial Shares Record</span><i class="fa fa-angle-left arrow"></i></a>
                                    <ul class="nav-3-level collapse">
                                        <li>
                                            <a href="{% url 'Members_Initial_Shares_update_Search' %}">Update Request</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'Members_Initial_Shares_update_approved_list_load' %}">Process Update Request</a>
                                         </li>
                                    
                                     </ul>
                                </li>

                          
                                <li>
                                    <a href="javascript:;">
                                        <span class="nav-label">Shares Requesition</span><i class="fa fa-angle-left arrow"></i></a>
                                    <ul class="nav-3-level collapse">
                                        <li>
                                            <a href="{% url 'Members_Share_Purchase_Request_Search' %}">Request for Shares</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'Members_Share_Purchase_Request_Manage_Search' %}">Manage Request</a>
                                         </li>
                                        <li>
                                            <a href="{% url 'Members_Share_Purchase_Request_Process' %}">Process Request</a>
                                        </li>
                                     </ul>
                                </li>
                            
                        </ul>
                    </li>
                {% endif %}


                  {% if current_user.next_of_kin %}
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-edit"></i>
                            <span class="nav-label">Next of Kin</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                           
                            <li>
                                <a href="{% url 'Members_Next_Of_Kins_search' %}">Add Next of Kin</a>
                            </li>
                            <li>
                                <a href="{% url 'Members_Next_Of_Kins_Manage_search' %}">Manage Next of Kin</a>
                            </li>

                        </ul>
                    </li>
                 {% endif %}
                
                {% if current_user.exclusiveness_request %}
                   <li>
                            <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                                <span class="nav-label">Exclusiveness</span><i class="fa fa-angle-left arrow"></i></a>
                            <ul class="nav-3-level collapse">
                                <li>
                                    <a href="{% url 'members_exclusiveness_request_search' %}">Exclusive Request</a>
                                </li>
                                <li>
                                    <a href="{% url 'members_exclusiveness_approved_list_load' %}">Approved Exclusiveness</a>
                                </li>      
                                 <li>
                                    <a href="javascript:;">Deactivate Exclusiveness</a>
                                </li>                                        
                            </ul>
                    </li>
                {% endif %}
                
                    

                  {% if current_user.loan_management %}
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                            <span class="nav-label">Loan Manager</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Cash Loans</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                    <li>
                                        <a href="{% url 'loan_request_search' %}">Loan Request</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Manage Request</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'loan_request_approved_list_load' %}">Loan Form Sales</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'loan_application_list_load' %}">Loan Application</a>
                                    </li> 
                                    <li>
                                        <a href="{% url 'loan_application_approved_list_load' %}">Loan Processing</a>
                                    </li>
                                </ul>
                            </li>
                               
                            
                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Commodity Loans</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                    <li>
                                        <a href="{% url 'membership_commodity_loan_search' %}">Commodity Request</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'membership_commodity_loan_manage' %}">Manage Request</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'membership_commodity_loan_form_sales' %}">Request Form Sales</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Commodity Applications</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Process Applications</a>
                                    </li>
                                </ul>
                            </li>
                           
                            </ul>
                </li>
            {% endif %}
               
                
                {% if current_user.monthly_deductions %}
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-table"></i>
                            <span class="nav-label">Monthly Deductions</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">                        

                          <li>
                            <a href="{% url 'TransactionPeriodManager' %}">Transaction Period Manager</a>
                        </li> 
                        <li>
                            <a href="{% url 'Monthly_Deduction_Salary_Institution_Load' %}">Individual Transactions</a>
                        </li> 
                        <li>
                            <a href="{% url 'Monthly_Group_transaction_Institution_Load' %}">Group Transactions</a>
                        </li> 
                        <li>
                            <a href="{% url 'Monthly_Deduction_excel_Export_Institution_Load' %}">Exporting To Excel</a>
                        </li> 
                        <li>
                            <a href="{% url 'Monthly_Account_deduction_Excel_import_Institution_Load' %}">Import Account Deductions</a>
                        </li>
                        

                        <li>
                            <a href="{% url 'Monthly_Account_deduction_Processing_Institution_Load' %}">Process Account Deductions</a>
                        </li>
                          <li>
                            <a href="{% url 'Monthly_Account_deductions_Separations' %}">Monthly Deductions Separations</a>
                        </li>
                        <li>
                            <a href="{% url 'monthly_wrongful_deduction_transaction_period_load' %}">Monthly Wringful Deductions</a>
                        </li> 
                      
                        <li>
                            <a href="{% url 'Monthly_Unbalanced_transactions' %}">Non Balanced Deductions</a>
                        </li>
                        <li>
                            <a href="{% url 'Monthly_deduction_ledger_posting_preview' %}">Deductions Ledger Posting</a>
                        </li>
                           
                        </ul>
                    </li>
                {% endif %}

                {% if current_user.bank_accounts %}
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-bar-chart"></i>
                            <span class="nav-label">Bank Accounts</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                            <li>
                                <a href="{% url 'MembersBankAccounts_list_search' %}">Add Account</a>
                            </li>
                            <li>
                                <a href="{% url 'Members_Bank_Accounts_edit_search' %}">Manage Accounts</a>
                            </li>
                            
                        </ul>
                    </li>
                {% endif %}

                {% if current_user.day_end_transaction %}
                      <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                            <span class="nav-label">Day End Transactions</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                             <li>
                                <a href="{% url 'MemberShipFormSalesSummary' %}">Membership Form Sales</a>
                            </li>

                             <li>
                                <a href="{% url 'Cash_Deposit_Report_Date_Load' %}">Loan Form Sales</a>
                            </li>
                            <li>
                                <a href="{% url 'Cash_Deposit_Report_Date_Load' %}">Cash Deposit</a>
                            </li>

                        </ul>
                    </li>                    
                   
                {% endif %}

               {% if current_user.essential_commodity or current_user.share_update_approval or current_user.exclusiveness_approval or current_user.shop_credit_sales or current_user.share_update_approval or current_user.transaction_adjustment_approval  %}
                <li class="heading">APPROVALS</li>
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                            <span class="nav-label">ADJUSTMENT APPROVAL</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                        {% if current_user.shop_credit_sales %}
                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Shop Credit Sales</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                    <li>
                                        <a href="{% url 'members_credit_purchase_approval' %}">Sales Request </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'Shop_Cheque_Sales_List_Load' %}">Cheque Sales Approval</a>
                                    </li> 
                                   
                                </ul>
                            </li>
                        {% endif %}
                        

                        
                        {% if current_user.exclusiveness_approval %}
                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Members Exclusiveness </span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                    <li>
                                        <a href="{% url 'members_exclusiveness_request_approval_list_load' %}">Approve Exclusiveness</a>
                                    </li>
                                    <li>
                                        <a href="">Approve Non Exclusiveness</a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                        {% if current_user.share_update_approval %}
                            <li>
                               <a href="{% url 'Initial_Shares_Update_List_Load' %}">Initial Share Update</a>
                            </li> 
                        {% endif %} 
                        {% if current_user.essential_commodity %}
                            <li>
                               <a href="{% url 'Essential_Commodity_Loan_Request_Approval' %}">Essential Commodity</a>
                            </li>
                        {% endif %}
                        {% if current_user.transaction_adjustment_approval %}
                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Transaction Adjustment </span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                   <li>
                                        <a href="{% url 'Transaction_Adjustment_Approval_list_Load' %}">Savings</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'Transaction_Loan_Adjustment_Approval_list_Load' %}">Loans</a>
                                    </li>
                                     <li>
                                        <a href="{% url 'Transaction_Salary_adjustment_Request_Approval_List_Load' %}">Salary Update</a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                        </ul>
                    </li>
                {% endif %}
             
                
            {% if current_user.general_report %}
                <li class="heading">REPORTS</li>
                    <li>
                            <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                                <span class="nav-label">General Reports</span><i class="fa fa-angle-left arrow"></i></a>
                            <ul class="nav-2-level collapse">
                                 <li>
                                    <a href="{% url 'Transaction_adjustment_Search' %}">Transaction Adjustment History</a>
                                </li>
                                <li>
                                    <a href="{% url 'MemberShipFormSalesReport' %}">Membership Form Sales</a>
                                </li>

                                 <li>
                                    <a href="{% url 'Cash_Deposit_Report_Date_Load' %}">Cash Deposit</a>
                                </li>
                                <li>
                                    <a href="{% url 'Norminal_Roll_List_Load' %}">Norminal Roll</a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="nav-label">Ledger</span><i class="fa fa-angle-left arrow"></i></a>
                                    <ul class="nav-3-level collapse">
                                        <li>
                                            <a href="{% url 'PersonalLedger_Selected_Search' %}">Personal Ledger</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Level 3</a>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="javascript:;">
                                        <span class="nav-label">Loan</span><i class="fa fa-angle-left arrow"></i></a>
                                    <ul class="nav-3-level collapse">
                                        <li>
                                            <a href="{% url 'Load_Active_loans' %}">Loans Applcations</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'Load_Active_loans' %}">Active Loans</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Currently Cleared Loans</a>
                                        </li>
                                    </ul>
                                </li>
                                 <li class="heading">MONTHLY DEDUCTIONS</li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="nav-label">Cooperative Generated</span><i class="fa fa-angle-left arrow"></i></a>
                                    <ul class="nav-3-level collapse">
                                        <li>
                                            <a href="javascript">Group Records</a>
                                        </li>
                                        <li>
                                            <a href="javascript">Selected Records</a>
                                        </li>
                                        
                                    </ul>
                                </li>

                                <li>
                                    <a href="javascript:;">
                                        <span class="nav-label">Account Generated</span><i class="fa fa-angle-left arrow"></i></a>
                                    <ul class="nav-3-level collapse">
                                        <li>
                                            <a href="javascript">Group Records</a>
                                        </li>
                                        <li>
                                            <a href="javascript">Selected Records</a>
                                        </li>
                                        
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="nav-label">Wrongful Deductions</span><i class="fa fa-angle-left arrow"></i></a>
                                    <ul class="nav-3-level collapse">
                                        <li>
                                            <a href="{% url 'Over_Deductions_report' %}">Over Deductions</a>
                                        </li>
                                        <li>
                                            <a href="javascript">Under Deductions</a>
                                        </li>
                                        <li>
                                           <a href="javascript:;">Non Member Deductions</a>
                                        </li>
                                        
                                    </ul>
                                </li>                           

                            </ul>
                    </li>
            {% endif %}
            {% if current_user.data_capture %}
                <li class="heading">INITIAL DATA</li>
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                            <span class="nav-label">Data Capture</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                          
                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Norminal Roll</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                    <li>
                                        <a href="{% url 'upload_norminal_roll' %}">Compound Norminal Roll</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'upload_distinct_norminal_roll' %}">Distinct Norminal Roll</a>
                                    </li>
                                   <li>
                                        <a href="{% url 'Norminal_Roll_Preview' %}">Process Norminal Roll</a>
                                     </li>  
                                     
                                     
                                </ul>
                            </li> 
                          
                          
                            
                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Savings</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                    <li>
                                        <a href="{% url 'Uploading_Existing_Savings' %}">Savings Upload</a>
                                    </li> 
                                    <li>
                                        <a href="{% url 'Uploading_Existing_Savings_Additional_search' %}">Additional Savings</a>
                                    </li>
                        
                                </ul>
                            </li>

                             <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Loan</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                    <li>
                                       <a href="{% url 'Uploading_Existing_Loans' %}">Uploading Loans</a>
                                    </li>
                                    <li>
                                       <a href="{% url 'Uploading_Existing_Aditional_Loans' %}">Additional Loan</a>
                                    </li>
                                   
                                   
                                </ul>
                            </li>
                            
                           
                        
                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Shares</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                    <li>
                                       <a href="{% url 'Members_Shares_Upload_list_load' %}">Uploading Shares</a>
                                    </li>
                                   
                                </ul>
                            </li>

                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Annual Welfare</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                    <li>
                                       <a href="{% url 'Members_Welfare_Upload_list_load' %}">Uploading Welfare</a>
                                    </li>
                                  

                                </ul>
                            </li>


                        </ul>
                    </li>
            {% endif %}
                

                {% comment %}
                    <li>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                            <span class="nav-label">Menu Levels</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                            <li>
                                <a href="{% url 'desk_advanced_form' %}">Level 2</a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="nav-label">Level 2</span><i class="fa fa-angle-left arrow"></i></a>
                                <ul class="nav-3-level collapse">
                                    <li>
                                        <a href="javascript:;">Level 3</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Level 3</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                {% endcomment %}
                </ul>
            </div>
        </nav>