{% load static %}
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="ibox bg-success color-white widget-stat">
                            <div class="ibox-body">
                                 <h2 class="m-b-5 font-strong">{{member_count}}</h2>
                                <div class="m-b-5">
                                     {% if  'MEMBERSHIP REGISTRATION' in task_array and default_password == 'NO' %}
                                        <a style="color: white;" href="{% url 'membership_request' %}">NEW MEMBERS</a> 
                                    {% else %}
                                        NEW MEMBERS
                                    {% endif %}
                                    </div><i class="ti-bar-chart widget-stat-icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="ibox bg-info color-white widget-stat">
                            <div class="ibox-body">
                                <h2 class="m-b-5 font-strong">{{member_count}}</h2>
                                <div class="m-b-5">
                                    {% if 'GENERAL REPORT'  in task_array and default_password == 'NO' %}
                                        <a style="color: white;" href="{% url 'PersonalLedger_Selected_Search' %}">PERSONNAL LEDGER</a> 
                                    {% else %}
                                        PERSONNAL LEDGER
                                    {% endif %}

                                </div><i class="ti-bar-chart widget-stat-icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="ibox bg-warning color-white widget-stat">
                            <div class="ibox-body">
                                <h2 class="m-b-5 font-strong">{{member_count}}</h2>
                                <div class="m-b-5">
                                    {% if 'GENERAL REPORT'  in task_array and default_password == 'NO' %}
                                        <a href="{% url 'Members_Dashboard_Search' %}" style="color: white;">MEMBERS DASHBOARD</a> 
                                    {% else %}
                                       MEMBERS DASHBOARD
                                    {% endif %}
                                </div><i class="fa fa-money widget-stat-icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="ibox bg-danger color-white widget-stat">
                             <div class="ibox-body">
                                <h2 class="m-b-5 font-strong">{{applicants}}</h2>

                                <div class="m-b-5">

                                    {% if  'MEMBERSHIP REGISTRATION' in task_array and default_password == 'NO' %}
                                        <a href="{% url 'membership_form_Approved_list_load' %}" style="color: white;">APPROVED MEMBERSHIP</a>
                                    {% else %}
                                        APPROVED MEMBERSHIP
                                    {% endif %}

                                 </div>
                                <i class="ti-shopping-cart widget-stat-icon"></i>
                            </div>

                            
                        </div>
                    </div>
                
                </div>
