{% extends 'master_templates/base_template.html' %}
{% load static %}

{% block content %}
            <div class="page-content fade-in-up">
                <div class="row">
                    <div class="col-md-6">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">{{title}}</div>
                                
                            </div>
                       
                            <div class="ibox-body">
                {% url url as action_path %}
                {% include "master_templates/form_template.html" with messages=messages form=form action_path=action_path button_text=button_text %}
                            </div>
                        </div>
                    </div>

                   
                </div>
               
             <div class="row">
                    <div class="col-xl-6">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">{{title1}}</div>
                            </div>
                            <div class="ibox-body">
                                <table class="table">
                                    <thead class="thead-default">
                                        <tr>
                                            <th>#</th>
                                            <th>Transaction Types</th>
                                            <th>Officer</th>
                                            <th>Status</th>
                                          
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for officer in officers %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{officer.transaction.transaction.name}}</td>
                                            <td>{{officer.officer.username}}</td>
                                            <td> <a href="{% url 'CertificationOfficersUpdate' officer.id %}">{{officer.status.title}}</a> </td>
                                          
                                        
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
               
                </div>
            </div>
            


    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
{% endblock %}