{% extends 'master_templates/base_template.html' %}
{% load static %}

{% block content %}
            <div class="page-content fade-in-up">
                <div class="row">
                    <div class="col-md-6">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Horizontal Form</div>
                                
                            </div>
                            <div class="form-group">
                              {% if messages %}
                                
                                  {% for message in messages %}
                                  {% if message.tags == "error" %}
                                   <div class="alert alert-warning alert-dismissable fade show"  style="margin-top:10px">
                                    <button class="close" data-dismiss="alert" aria-label="Close">×</button><strong>Warning!</strong> {{message}}</div>
                                  
                                  {% endif %}

                                  
                                  {% endfor %}
                              
                              {% endif %}
                            </div>
                            <div class="ibox-body">
                                <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data" novalidate>
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Transaction Year</label>
                                        <div class="col-sm-8">
                                            {{form.tyear}}
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Details</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" name="alpha">
                                              
                                                <option value="A"> A </option>
                                                <option value="B"> B </option>
                                                <option value="C"> C </option>
                                                <option value="D"> D </option>
                                                <option value="E"> E </option>
                                                <option value="F"> F </option>
                                                <option value="G"> G </option>
                                                <option value="H"> H </option>
                                                <option value="I"> I </option>
                                                <option value="J"> J </option>
                                                <option value="K"> K </option>
                                                <option value="L"> L </option>
                                                <option value="M"> M </option>
                                                <option value="O"> O </option>
                                            </select>
                                        </div>
                                    </div>
                                   
                                    <div class="form-group row">
                                        <div class="col-sm-8 ml-sm-auto">
                                            <button class="btn btn-info" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Transaction Years And Batches</div>
                            </div>
                            <div class="ibox-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Year</th>
                                            <th>Batch</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                {% for record in records %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{record.tyear}}</td>
                                            <td>{{record.batch}}</td>
                                            <td>
                                                {% if record.status.title == "ACTIVE" %}
                                                    <a href="{% url 'Dedicated_Commodity_Price_List_Setting_Status' record.pk %}" class="btn btn-success">{{record.status.title}}</a>
                                                {% elif record.status.title == 'INACTIVE' %}
                                                     <a href="{% url 'Dedicated_Commodity_Price_List_Setting_Status' record.pk %}" class="btn btn-secondary">{{record.status.title}}</a>
                                                {% endif %}
                                            </td>
                                            <td><a href="{% url 'Dedicated_Commodity_Price_List_Setting_Select' record.pk %}" class="btn btn-primary">Link Products</a></td>
                                        </tr>
                                {% endfor %}  
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
            
          
            


    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
{% endblock %}