{% extends 'master_templates/base_template.html' %}
{% load static %}

{% block content %}
            <div class="page-content fade-in-up">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Loan Settings | {{record.name}}</div>
                            </div>
                            <div class="ibox-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                           
                                            <th>Description</th>
                                            <th>Value</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                         {% if request.user.user_type == '1' %}
                                        <tr>
                                          
                                            <td>Category</td>
                                            <td>{{record.category}}</td>
                                          <td><a href="{% url 'loan_category_update' record.id %}">Update</a></td>
                                        </tr> 
                                        {% endif %}
                                        <tr>
                                         
                                            <td>Duration</td>
                                            <td>{{record.duration}}</td>
                                          <td><a href="{% url 'loan_duration_update' record.id %}">Update</a></td>
                                        </tr>
                                     {% if request.user.user_type == '1' %}
                                         <tr>
                                            
                                            <td>Name</td>
                                            <td>{{record.name}}</td>
                                          <td><a href="{% url 'loan_name_update' record.pk %}">Update</a></td>
                                        </tr>
                                    {% endif %}
                                        <tr>
                                          
                                            <td>Interest Rate</td>
                                            <td>{{record.interest_rate}}</td>
                                             <td><a href="{% url 'loan_interest_rate_update' record.pk %}">Update</a></td>
                                        </tr>


                                        <tr>
                                           
                                            <td>Interest Deduction Source</td>
                                            <td>{{record.interest_deduction}}</td>
                                            <td><a href="{% url 'loan_interest_deduction_soucrces_update' record.pk %}">Update</a></td>
                                        </tr>
                                        <tr>
                                            
                                            <td>Maximum Amount</td>
                                            <td>{{record.maximum_amount}}</td>
                                            <td><a href="{% url 'loan_maximum_amount_update' record.pk %}">Update</a></td>
                                        </tr>
                                        {% comment %}
                                        <tr>
                                           
                                            <td>Rank </td>
                                            <td>{{record.rank}}</td>
                                            <td><a href="{% url 'loan_rank_update_update' record.pk %}">Update</a></td>
                                        </tr>
                                        {% endcomment %}
                                         <tr>
                                           
                                            <td>Admin Charges Rating </td>
                                            <td>{{record.admin_charges_rating}}</td>
                                            <td><a href="{% url 'loan_admin_charges_rate_update' record.pk %}">Update</a></td>
                                        </tr>
                                        <tr>
                                            
                                            <td>Admin Charges </td>
                                            <td>{{record.admin_charges}}</td>
                                            <td><a href="{% url 'loan_admin_charges_update' record.pk %}">Update</a></td>
                                        </tr>

                                        <tr>
                                            
                                            <td>Admin Charges Minimum </td>
                                            <td>{{record.admin_charges_minimum}}</td>
                                            <td><a href="{% url 'loan_admin_charges_minimum_update' record.pk %}">Update</a></td>
                                        </tr> 
                                        <tr>
                                            
                                            <td>Default Admin Charges </td>
                                            <td>{{record.default_admin_charges}}</td>
                                            <td><a href="{% url 'default_admin_charges_update' record.pk %}">Update</a></td>
                                        </tr>
                                        <tr>
                                         
                                            <td>Salary Loan Relationship </td>
                                            <td>{{record.salary_loan_relationship}}</td>
                                            <td><a href="{% url 'loan_salary_relationship_update' record.pk %}">Update</a></td>
                                        </tr>
                                         <tr>
                                           
                                            <td>Loan Age </td>
                                            <td>{{record.loan_age}}</td>
                                            <td><a href="{% url 'loan_loan_age_update' record.pk %}">Update</a></td>
                                        </tr>
                                        <tr>
                                         
                                            <td>Guarantors </td>
                                            <td>{{record.guarantors}}</td>
                                            <td><a href="{% url 'loan_guarantors_update' record.pk %}">Update</a></td>
                                        </tr> 
                                        <tr>
                                         
                                            <td>Guarantor Gross Pay Rating </td>
                                            <td>{{record.guarantors_gross_pay_rating}}</td>
                                            <td><a href="{% url 'loan_guarantors_gross_pay_update' record.pk %}">Update</a></td>
                                        </tr>
                                        <tr>
                                            
                                            <td>Loan Savings Based </td>
                                            <td>{{record.savings_rate}}</td>
                                            <td><a href="{% url 'loan_savings_based_update' record.pk %}">Update</a></td>
                                        </tr>        
                                        <tr>
                                            
                                            <td>Loan Savings Rate </td>
                                            <td>{{record.saving_rating}}</td>
                                            <td><a href="{% url 'loan_savings_based_Rate_update' record.pk %}">Update</a></td>
                                        </tr>
                                       
                                        <tr>
                                         
                                            <td>Multiple Loan Status </td>
                                            <td>{{record.multiple_loan_status}}</td>
                                            <td><a href="{% url 'MultipleLoanStatus_update' record.pk %}">Update</a></td>
                                        </tr>                                        
                                        <tr>
                                         
                                            <td>Auto Stop Savings </td>
                                            <td>{{record.auto_stop_savings}}</td>
                                            <td><a href="{% url 'auto_stop_savings_update' record.pk %}">Update</a></td>
                                        </tr>
                                       <tr>
                                         
                                            <td>Receipt Type </td>
                                            <td>{{record.receipt_type}}</td>
                                            <td><a href="{% url 'receipt_types_settings' record.pk %}">Update</a></td>
                                        </tr>
                                        <tr>
                                         
                                            <td>Loan Path </td>
                                            <td>{{record.loan_path}}</td>
                                            <td><a href="{% url 'loan_path_settings' record.pk %}">Update</a></td>
                                        </tr>
                                       

                                       


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                
                </div>
               
           
            </div>
  <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
{% endblock %}