{% extends 'master_templates/base_template.html' %}
{% load static %}

{% block content %}
            <div class="page-content fade-in-up">
                <div class="row">
                 
                    <div class="col-xl-6">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">{{transaction.name}} | Categories | <a href="{% url 'Product_Linking_Sub_Category_Load_All'  period.pk batch.pk transaction.pk company.pk  %}">Load All</a> </div>
                            </div>
                            <div class="ibox-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Description</th>
                                      
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for category in categories %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{category.title}}</td>
                                            <td><a href="{% url 'Product_Linking_Sub_Category_Load' period.pk batch.pk transaction.pk company.pk category.pk %}" class="btn btn-success">Load Sub Categories</a></td>
                                         
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
              
           
            </div>
  <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
{% endblock %}