{% extends 'master_templates/base_template.html' %}
{% load static %}

{% block content %}
            <div class="page-content fade-in-up">
                <div class="row">
                    

                      <div class="col-xl-8">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">LIST OF COMPANIES | {{period.title}} | {{batch.title}} | {{transaction.name}}| <a href="{% url 'admin_home' %}" class="btn btn-secondary">Back</a></div>
                            </div>
                            <div class="ibox-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Title</th>
                                            <th>Action</th>
                                      
                                        </tr>transaction
                                    </thead>
                                    <tbody>
                                    {% for company in companies %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{company.title}}</td>
                                            
                                            <td>
                                                <a href="{% url 'Product_Price_Settings_details' company.pk period.pk batch.pk transaction.pk %}" class="btn btn-success">Select</a>  </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            


    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
{% endblock %}