{% extends 'master_templates/base_template.html' %}
{% load static %}

{% block content %}
            <div class="page-content fade-in-up">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">LIST OF USERS</div>
                            </div>
                            <div class="ibox-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Last Name</th>
                                            <th>First Name</th>
                                            <th>Username</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for record in records %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{record.last_name}}</td>
                                            <td>{{record.first_name}}</td>
                                            <td>{{record.username}}</td>
                                            <td><a href="{% url 'Shop_Users_Tasks_Preview' record.pk %}">Details</a></td>
                                          
                                        </tr>
                                    {% endfor %} 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </div>
              
           
            </div>
  <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
{% endblock %}