{% extends 'deskofficer_templates/base_template.html' %}
{% load static %}

{% block content %}
            <div class="page-content fade-in-up">
                <div class="row">
                   
                    <div class="col-xl-6">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">SAVINGS | {{member.get_full_name}}</div>
                            </div>
                            <div class="ibox-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Description</th>
                                            <th>Account Number</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for record in records %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{record.transaction.name}}</td>
                                            <td>{{record.account_number}}</td>
                                        
                                            <td><a href="{% url 'Cash_Deposit_Savings_Preview' record.pk %}" class="btn btn-primary">Load</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
             
           
            </div>
  <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
{% endblock %}