{% extends 'deskofficer_templates/base_template.html' %}
{% load static %}



    {% block content %}
    <!-- Content Header (Page header) -->
   
    <!-- Main content -->
  
        <h5 class="mb-2">GENERIC COMMODITY LOAN MANAGEMENT</h5>
        <div class="row">
          <div class="col-md-3">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Loan Request</h3>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <a href="{% url 'membership_commodity_loan_search' %}">Proceed</a>
                 | <a href="{% url 'membership_commodity_loan_Period__manage_transaction_load' %}">Active</a>
                  | <a href="#">History</a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <div class="col-md-3">
            <div class="card card-warning">
              <div class="card-header">
                <h3 class="card-title">Manage Loan Request</h3>

               
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
               <a href="{% url 'membership_commodity_loan_Period__manage_transaction_load' %}">Proceed</a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->

          <!-- /.col -->
          <div class="col-md-3">
           
              <div class="card card-outline card-primary">
              <div class="card-header">
                <h3 class="card-title">Commodity Request Shortlist</h3>

                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                
                <a href="{% url 'membership_commodity_loan_Shortlisting_transaction_period_load' %}">Proceed</a> | 
                  <a href="{% url 'membership_commodity_loan_Shortlisted_transaction_period_load' %}">Active</a>
                  
                  | <a href="{% url 'membership_commodity_loan_Shortlisted_History_transaction_period_load' %}">History</a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->


            <div class="col-md-3">
             <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">Temporal Receipt</h3>               
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <a href="{% url 'membership_commodity_loan_form_sales_transaction_period_load' %}">Proceed</a> |
                <a href="{% url 'membership_commodity_loan_Form_Sales_Reprint_transaction_period_load' %}">Reprint</a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
         
          <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">       
          <!-- /.col -->
          <div class="col-md-3">
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">Item Collection</h3>
              </div>
              <div class="card-body">
               <a href="{% url 'membership_commodity_loan_Final_Applications' %}">Confirmation</a> |
               <a href="#">History</a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>

          <div class="col-md-3">
           <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">Complete Transactions</h3>               
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <a href="{% url 'membership_commodity_loan_completed_transaction_load' %}">Process</a> |
                <a href="{% url 'membership_commodity_loan_Form_Sales_Reprint_transaction_period_load' %}">Reprint</a>
              </div>
            </div>
              <!-- /.card-body -->
          </div> 

          <div class="col-md-3">
            <div class="card card-warning">
              <div class="card-header">
                <h3 class="card-title">Loan Processing</h3>
              </div>
              <div class="card-body">
               <a href="{% url 'commodity_loan_custom_invoicing_search' %}">Auxillary Receipt</a> |
               <a href="{% url 'membership_commodity_loan_completed_reprint_search' %}">Reprint</a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>

        </div>
        <!-- /.row -->
<br><br><br><br><br>
<h5 class="mb-2">ESSENTIAL COMMODITY LOAN MANAGEMENT</h5>
        <div class="row">
          <div class="col-md-3">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Commodity Request</h3>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <a href="{% url 'membership_essential_commodity_loan_Period_Transactions_load' %}">Make Request</a>
                 
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <div class="col-md-3">
            <div class="card card-warning">
              <div class="card-header">
                <h3 class="card-title">Manage Request</h3>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
               <a href="{% url 'membership_essential_commodity_loan_selections_active_Period_Transactions_load' %}"> Members</a> 
               | <a href="{% url 'membership_essential_commodity_loan_selections_active_Period_Transactions_load_product' %}"> Products</a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->

          <!-- /.col -->
          <div class="col-md-3">
           
              <div class="card card-outline card-primary">
              <div class="card-header">
                <h3 class="card-title">Loan Request Shortlist</h3>

                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                
                <a href="{% url 'membership_essential_commodity_loan_Company_products_selections_comprehensive_list_Transactions_Period' %}">Proceed</a> | 
                  <a href="">Active</a>
                  
                  | <a href="">History</a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->

          {% comment %}
            <div class="col-md-3">
             <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">Temporal Receipt</h3>               
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <a href="{% url 'membership_commodity_loan_form_sales_transaction_period_load' %}">Proceed</a> |
                <a href="{% url 'membership_commodity_loan_Form_Sales_Reprint_transaction_period_load' %}">Reprint</a>
              </div>
              <!-- /.card-body -->
            </div>
          {% endcomment %}
            <!-- /.card -->
          
          </div>
         
          <!-- /.col -->
        </div>

    <!-- /.content -->
   {% endblock %} 


