{% extends 'deskofficer_templates/base_template.html' %}
{% load static %}

{% block content %}
            <div class="page-content fade-in-up">
                 <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data" novalidate>
                                    {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                           

                            <div class="col-xl-12">
                                <div class="ibox">
                                    <div class="ibox-head">
                                        <div class="ibox-title">Loan Analysis |  <a href="{% url 'emergency_Loan_application_processing_records_load' applicant.applicant.applicant.loan.pk %}">Back</a></div>
                                    </div>
                                    <div class="ibox-head">
                                        <div class="ibox-title">{{applicant.applicant.applicant.member.get_full_name}}  | {{applicant.applicant.applicant.member.coop_no}}  </div>
                                    </div>

                                    <div class="form-group">
                                  {% if messages %}
                                    
                                      {% for message in messages %}
                                      {% if message.tags == "error" %}
                                      <div class="alert alert-danger" style="margin-top:10px">{{message}}</div>
                                      
                                      {% endif %}

                                      {% if message.tags == "success" %}
                                      <div class="alert alert-success" style="margin-top:10px">{{message}}</div>
                                      
                                      {% endif %}
                                      {% endfor %}
                                  
                                  {% endif %}
                              </div>
                                    <div class="ibox-body">
                                        <table class="table table-bordered">
                                            <thead class="thead-default">
                                                <tr>
                                                    <th>#</th>
                                                    <th>Description</th>
                                                    <th>Settings</th>
                                                   
                                                </tr>
                                            </thead>
                                            <tbody>
                                          
                                                <tr>
                                                    <td>1</td>
                                                    <td>LOAN TYPE</td>
                                                    <td>{{loan_type}}</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>LOAN AMOUNT</td>
                                                    <td>{{loan_amount}}</td>
                                                </tr> 
                                                <tr>
                                                    <td>3</td>
                                                    <td>LOAN DURATION</td>
                                                    <td>{{duration}} MONTH(S)</td>
                                                </tr>
                                                 <tr>
                                                    <td>4</td>
                                                    <td>LOAN INTEREST RATE</td>
                                                    <td>{{interest_rate}}%</td>
                                                </tr> 
                                                <tr>
                                                    <td>5</td>
                                                    <td>LOAN INTEREST DEDUCTION</td>
                                                    <td>{{interest_deduction}}</td>
                                                </tr>
                                                <tr>
                                                    <td>6</td>
                                                    <td>LOAN INTEREST</td>
                                                    <td>{{interest}}</td>
                                                </tr> 
                                               
                                                <tr>
                                                    <td>6</td>
                                                    <td>AMOUNT SCHEDULED</td>
                                                    <td>{{amount_scheduled}}</td>
                                                </tr>
                                               <tr>
                                                    <td>7</td>
                                                    <td>MONTHLY REPAYMENT</td>
                                                    <td>{{monthly_repayment}}</td>
                                                </tr> 
                                                <tr>
                                                    <td>8</td>
                                                    <td>ADMIN CHARGES</td>
                                                    <td>{{admin_charge}}</td>
                                                </tr> 
                                               <tr>
                                                    <td>9</td>
                                                    <td>START DATE</td>
                                                    <td>{{start_date}}</td>
                                                </tr> 
                                               <tr>
                                                    <td>10</td>
                                                    <td>STOP DATE</td>
                                                    <td>{{stop_date}}</td>
                                                </tr> 
                                            {% if button_show %}   

                                                <tr>
                                                    <td></td>
                                                   <td colspan="2">
                                                      <div class="form-group">
                                        <label class="col-sm-3 col-form-label"></label>
                                            <input type="checkbox" name="effective_date_add">
                                            <span class="input-span"></span>Yes, I Accept</label>
                                    </div> 
                                                 
                                                    <div class="form-group row">
                                                        <div class="col-sm-9 ml-sm-auto">
                                                            <button class="btn btn-success" type="submit" name='btn-process'>Process</button>
                                                            
                                                        </div>
                                                    </div>

                                                   </td>
                                               </tr>
                                            {% endif %}
                                            </tbody>
                                        
                                        </table>
                                    </div>
                                </div>
                            </div>
                         
                       
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">FINAL LOAN PROCESSING</div>
                                
                            </div>
                            <div class="ibox-body">
                               
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Effective Date</label>
                                        <div class="col-sm-9">
                                            {{form.effective_date}}
                                        </div>
                                    </div> 
                                    
                                    
                               
                                 
                                    <div class="form-group row">
                                        <div class="col-sm-9 ml-sm-auto">
                                          
                                            <button class="btn btn-info" type="submit" name='btn-fetch'>Fetch Duration</button>
                                        </div>
                                    </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
            


    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
    {% include 'cooperative/includes/emptyspace.html' %}
{% endblock %}