{% extends 'deskofficer_templates/base_template.html' %}
{% load static %}

{% block content %}
            <div class="page-content fade-in-up">
             
                <div class="row">
                    
                    <div class="col-xl-6">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">ITEM SELECTION LEDGER POSTING| {{record.product.member.get_full_name}}</div>
                            </div>
                            <div class="ibox-body">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Description</th>
                                            <th>Value</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                               
                                        <tr>
                                            <td>1</td>
                                            <td>Approval Status</td>
                                            <td>{{record.approval_status.title}}</td>                                       
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Approval Comments</td>
                                            <td>{{record.approval_comment}}</td>                                       
                                        </tr> 
                                        <tr>
                                            <td>3</td>
                                            <td>Approved Date</td>
                                            <td>{{record.approval_date}}</td>                                       
                                        </tr>
                                
                                    </tbody>
                                
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
               
             <div class="row">
                    <div class="col-md-6">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Transaction Processing</div>
                                
                            </div>
                            <div class="ibox-body">
                                 <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data" novalidate>
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Start Date</label>
                                        <div class="col-sm-8">
                                            {{form.start_date}}
                                        </div>
                                    </div>
                                    
                                   
                                      
                                    <div class="form-group row">
                                        <div class="col-sm-8 ml-sm-auto">
                                            {% if button_enabled %}
                                            <button class="btn btn-info" type="submit">Submit</button>
                                             {% endif %}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
{% endblock %}