{% extends 'deskofficer_templates/base_template.html' %}
{% load static %}

{% block content %}
            <div class="page-content fade-in-up">
                
                <div class="row">
                   
                    <div class="col-xl-7">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Loan Application Analysis| {{applicant.member.get_full_name}} |  <input type="button" class="btn btn-primary" value="Back" onclick="history.back()"/></div>
                            </div>
                            
                            <div class="ibox-body">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Description</th>
                                            <th>Value</th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for record in record_array %}
                                         <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td> {{record.0}} </td>
                                            <td>{{record.1}}</td>
                                            
                                        </tr>
                                    {% endfor %}
                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-5"> 
                        <div class="row"> 
                            <div class="col-xl-12">

                                <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Loan Application Summary Preview</div>
                            </div>
                            <div class="ibox-body">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Description</th>
                                            <th>Value</th>
                                            <th>Status</th>
                                            <th>Waver</th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                       
                                        
                                        <tr>
                                            <td>1</td>
                                            <td>Membership Status </td>
                                            <td>{{Member_Status}}</td>
                                            {% if Member_Status %}
                                                <td><i class="fa fa-check text-success"></i></td>
                                           {% else %}
                                                <td><i class="fa fa-warning text-warning"></i></td>
                                           {% endif %}

                                        <td>{{membership_waver}}</td>
                                        </tr>  
                                        
                                       
                                       
                                       
                                       <tr>
                                            <td>3</td>
                                            <td>Salary Status </td>
                                            <td>{{salary_status}}</td>
                                           {% if salary_status %}
                                                <td><i class="fa fa-check text-success"></i></td>
                                           {% else %}
                                                <td><i class="fa fa-warning text-warning"></i></td>
                                           {% endif %}

                                            <td>{{salary_status_waver}}</td>
                                        </tr>
                                        {% if savings_anchored == 'YES' %}
                                        <tr>
                                            <td>4</td>
                                            <td>Loan Based Savings Status</td>
                                            <td>{{loan_savings_status}}</td>
                                           {% if loan_savings_status %}
                                                <td><i class="fa fa-check text-success"></i></td>
                                           {% else %}
                                                <td><i class="fa fa-warning text-warning"></i></td>
                                           {% endif %}

                                            <td>{{savings_made_waver}}</td>
                                        </tr>
                                      {% endif %}
                                    </tbody>
                                </table>
                            </div>
                                </div> 
                            </div>

                        <div class="col-md-12">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Loan Request Submission</div>
                                
                            </div>
                            <div class="form-group">
                                  {% if messages %}
                                    
                                      {% for message in messages %}
                                      {% if message.tags == "error" %}
                                      <div class="alert alert-danger" style="margin-top:10px">{{message}}</div>
                                      
                                      {% endif %}

                                      {% if message.tags == "success" %}
                                      <div class="alert alert-success" style="margin-top:10px">{{message}}</div>
                                      
                                      {% endif %}
                                      

                                      {% endfor %}
                                  
                                  {% endif %}
                              </div>
                            <div class="ibox-body">
                               <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data" novalidate>
                                    {% csrf_token %}
                                   
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Comments (If any)</label>
                                        <div class="col-sm-9">
                                            {{form.comment}}
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <div class="col-sm-9 ml-sm-auto">

                                       {% if button_enabled %}
                                            <button class="btn btn-info" type="submit">Submit</button>
                                       {% endif %}
                                      
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
       
 
            
           
            </div>
  <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
    {% include 'cooperative/includes/emptyspace.html' %}
{% endblock %}