{% extends 'deskofficer_templates/base_template.html' %}
{% load static %}

{% block content %}
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-xl-12">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">List of Items Selected and Approved | <a href="{% url 'membership_commodity_loan_Final_Applications' %}">Back</a></div>
                </div>
                <div class="ibox-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Item Name</th>
                                <th>Models</th>
                                <th>Other Details</th>
                                <th>Quantity</th>
                                <th>Amount</th>
                                <th>Interest</th>
                                <th>Admin Charge</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for record in records %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{record.product.product.product_name}}</td>
                                <td>{{record.product.product.product_model}}</td>
                                <td>{{record.product.product.details}}</td>
                                <td>{{record.quantity}}</td>
                                <td>{{record.coop_price}}</td>
                                <td>{{record.interest}}</td>
                                <td>{{record.admin_charges}}</td>
                                <td><a href="{% url 'membership_commodity_loan_Final_Applications_Process_Preview' record.pk %}">Process</a></td>
                              
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sidenav-backdrop backdrop"></div>
<div class="preloader-backdrop">
    <div class="page-preloader">Loading</div>
</div>
{% endblock %}