{% extends 'deskofficer_templates/base_template.html' %}
{% load static %}

{% block content %}
            <div class="page-content fade-in-up">
                
                <div class="row">
                   
                    <div class="col-md-8">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">SAVINGS FUND TRANSFER | {{source_saving.member.get_full_name}} | {{source_saving.member.coop_no}} |<a href="{% url 'Members_Savings_Fund_Transfer_Loan_Load' source_saving.account_number %}">Back</a> </div>
                                
                            </div>
                            <div class="form-group">
                                  {% if messages %}
                                    
                                      {% for message in messages %}
                                      {% if message.tags == "error" %}
                                      <div class="alert alert-danger" style="margin-top:10px">{{message}}</div>
                                      
                                      {% endif %}

                                      
                                       
                                      {% endfor %}
                                  
                                  {% endif %}
                              </div>
                            <div class="ibox-body">
                                  <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data" novalidate>
                                         {% csrf_token %}
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Source Account Name</label>
                                        <div class="col-sm-8">
                                            {{form.source_account_name}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Source Account Number</label>
                                        <div class="col-sm-8">
                                           {{form.source_account_number}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Ledger Balance</label>
                                        <div class="col-sm-8">
                                            {{form.balance}}
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Destination Account Name</label>
                                        <div class="col-sm-8">
                                            {{form.destination_account_name}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Destination Account Number</label>
                                        <div class="col-sm-8">
                                            {{form.destination_account_number}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Amount Transfering</label>
                                        <div class="col-sm-8">
                                            {{form.amount}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Narration</label>
                                        <div class="col-sm-8">
                                            {{form.narration}}
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <div class="col-sm-8 ml-sm-auto">
                                            <button class="btn btn-info" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            


    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
{% endblock %}