{% extends 'deskofficer_templates/base_template.html' %}
{% load static %}

{% block content %}
            <div class="page-content fade-in-up">
                <div class="row">
                   
                    <div class="col-xl-12">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">COMPLETED COMMODITY LOANS | {{member.get_full_name}} | {{member.coop_no}}</div>
                            </div>
                            <div class="ibox-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Description</th>
                                            <th>Details</th>
                                            <th>Quantity</th>
                                            <th>Amount</th>
                                            <th>Receipt No</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for record in records %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{record.product_name}}</td>
                                            <td>{{record.details}}</td>
                                            <td>{{record.amount_paid}}</td>
                                            <td>{{record.quantity}}</td>
                                            <td>{{record.receipt}}</td>
                                            <td><a href="{% url 'commodity_loan_custom_invoicing_processing_validation' record.receipt %}">Print</a></td>
                                          
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
               
           
            </div>
  <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
{% endblock %}