{% extends 'deskofficer_templates/base_template.html' %}
{% load static %}

{% block content %}
            <div class="page-content fade-in-up">
                               <div class="row">
                    <div class="col-md-6">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Transaction Period |  <input type="button" class="btn btn-secondary" value="Back" onclick="history.back()"/></div>
                                
                            </div>
                            <div class="ibox-body">
                                <form class="form-horizontal" method="POST" action="">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label>Start Date</label>
                                            {{form.start_date}}
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label>Stop Date</label>
                                           {{form.stop_date}}
                                        </div>
                                    </div>
                                
                                    <div class="form-group">
                                        <button class="btn btn-secondary" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                 
                </div>
                <div class="row">
                    <div class="col-xl-10">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">{{member.member.get_full_name}} | Personal Ledger Details |  <input type="button" class="btn btn-secondary" value="Back" onclick="history.back()"/></div>
                            </div>
                            <div class="ibox-body">
                                <table class="table">
                                    <thead class="thead-default">
                                        <tr>
                                            <th>#</th>
                                            <th>Particulars</th>
                                            <th>Debit</th>
                                            <th>Credit</th>
                                            <th>Balance</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for record in records %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{record.particulars}}</td>
                                            <td>{{record.debit}}</td>
                                            <td>{{record.credit}}</td>
                                            <td>
                                            {% if record.balance < 0 %}
                                           
                                                ({% widthratio record.balance 1 -1 %})
                                            {% else %}
                                                {{record.balance}} 
                                            {% endif %}
                                            </td>
                                            <td>{{record.transaction_period}}</td>
                                         
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </div>
               
           
            </div>
  <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
{% endblock %}