{% extends 'deskofficer_templates/base_template.html' %}
{% load static %}
{% load mathfilters %}

{% block content %}
            <div class="page-content fade-in-up">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Available Loans|{{member.get_full_name}}</div>
                            </div>
                            <div class="ibox-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Loan Number</th>
                                            <th>Amount</th>
                                            <th>Action</th>
                                          
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for record in loans %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{record.loan_number}}</td>
                                            <td>{{record.balance|mul:-1}}</td>
                                            <td><a href="{% url 'Members_Ledger_Balance_Update_Loan_Account_Preview' record.pk member.pk %}" class="btn btn-primary">Update</a></td>
                                            
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </div>
               
           
            </div>
  <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
{% endblock %}