{% extends 'deskofficer_templates/base_template.html' %}
{% load static %}

{% block content %}
            <div class="page-content fade-in-up">
                
                <div class="row">                 
                    <div class="col-md-6">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Commodity Loan Salary Status Settings</div>
                                
                            </div>
                            <div class="form-group">
                              {% if messages %}
                                
                                  {% for message in messages %}
                                  {% if message.tags == "info" %}
                                   <div class="alert alert-warning alert-dismissable fade show"  style="margin-top:10px">
                                    <button class="close" data-dismiss="alert" aria-label="Close">×</button><strong>Warning!</strong> {{message}}</div>
                                  
                                  {% endif %}

                                  
                                  {% endfor %}
                              
                              {% endif %}
                        </div>
                            <div class="ibox-body">
                                 <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data" novalidate>
                                             {% csrf_token %}
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Salary As At</label>
                                        <div class="col-sm-8">
                                            {{form.period}}
                                            <label class="col-sm-12 col-form-label">This amount does not include cooperative deduction as they have been calculated under loans and contributions</label>
                                        </div>

                                    </div>
                               
                                  
                                  <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Net Pay</label>
                                        <div class="col-sm-8">
                                            {{form.net_pay}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-8 ml-sm-auto">
                                            <button class="btn btn-info" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
{% endblock %}