{% extends 'deskofficer_templates/base_template.html' %}
{% load static %}
{% block custom_css %}
    <!-- PLUGINS STYLES-->
    <link href="{% static '/cooperative/assets/vendors/DataTables/datatables.min.css' %}" rel="stylesheet" />
   {% endblock custom_css %}
{% block content %}

      
    <div class="page-content fade-in-up">      
        <div class="row">
           
            <div class="col-xl-12">
                <div class="ibox">
                    <div class="ibox-head">
                        <div class="ibox-title">WELFARE SCHEME | {{member.get_full_name}} | {{member.coop_no}} | {{member.ippis_no}} <a href="{% url 'Members_Dashboard_Load'  member.pk %}" class="btn btn-secondary">Back</a>  </div>
                    </div>
                    <div class="ibox-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Transaction</th>
                                    <th>Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                           
                                {% if total_welfare %}
                                <tr>
                                    <td>1</td>
                                    <td>Welfare</td>
                                    <td>{{total_welfare}}</td>
                                 
                                   
                                    <td><a href="" class="btn btn-primary">View</a></td>
                                 
                                </tr> 
                                {% endif %}
                          
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
  
    
    <!-- BEGIN PAGA BACKDROPS-->
    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
    <!-- END PAGA BACKDROPS-->
{% endblock content %}

