{% extends 'deskofficer_templates/base_template.html' %}
{% load static %}

{% block content %}
            <div class="page-content fade-in-up">
                
                <div class="row">
                   
                    <div class="col-md-6">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Member Registration |  <input type="button" class="btn btn-default" value="Back" onclick="history.back()"/></div>
                               
                            </div>
                            <div class="form-group">
                                  {% if messages %}
                                    
                                      {% for message in messages %}
                                      {% if message.tags == "error" %}
                                      <div class="alert alert-danger" style="margin-top:10px">{{message}}</div>
                                      
                                      {% endif %}

                                      {% if message.tags == "success" %}
                                      <div class="alert alert-success" style="margin-top:10px">{{message}}</div>
                                      
                                      {% endif %}
                                      {% endfor %}
                                  
                                  {% endif %}
                              </div>
                            <div class="ibox-body">
                                <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data" novalidate>
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Title</label>
                                        <div class="col-sm-8">
                                            {{form.title}}
                                        </div>
                                    </div>
                                     <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Last Name</label>
                                        <div class="col-sm-8">
                                            {{form.last_name}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">First Name</label>
                                        <div class="col-sm-8">
                                           {{form.first_name}}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Middle Name</label>
                                        <div class="col-sm-8">
                                            {{form.middle_name}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Date of Birth</label>
                                        <div class="col-sm-8">
                                               <input type="checkbox" name="dob_add">
                                            <span class="input-span" style="color: blue;">Check to Add</span>
                                           
                                            {{form.dob}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Gender</label>
                                        <div class="col-sm-8">
                                            {{form.gender}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Phone Number</label>
                                        <div class="col-sm-8">
                                            {{form.phone_number}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Residential Address</label>
                                        <div class="col-sm-8">
                                            {{form.residential_address}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Permanent Home Address</label>
                                        <div class="col-sm-8">
                                            {{form.permanent_home_address}}
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Department</label>
                                        <div class="col-sm-8">
                                            {{form.department}}
                                        </div>
                                    </div>
                                <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Salary Institution</label>
                                        <div class="col-sm-8">
                                            {{form.salary_institution}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">File No</label>
                                        <div class="col-sm-8">
                                            {{form.file_no}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">IPPIS No/Non IPPIS No</label>
                                        <div class="col-sm-8">
                                            {{form.ippis_no}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Email Address</label>
                                        <div class="col-sm-8">
                                            {{form.email}}
                                        </div>
                                    </div> 
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Username</label>
                                        <div class="col-sm-8">
                                            {{form.username}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Date of First Appointment</label>
                                        <div class="col-sm-8">
                                            <input type="checkbox" name="date_of_first_appointment_add">
                                            <span class="input-span" style="color: blue;">Check to Add</span>
                                            {{form.date_of_first_appointment}}
                                        </div>
                                    </div>  
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Date Joined</label>
                                        <div class="col-sm-8">
                                            
                                            {{form.date_joined}}
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Profile Pic</label>
                                        <div class="col-sm-8">
                                            {{form.profile_pic}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Print Form</label>
                                        <div class="col-sm-8">
                                            {{form.form_print}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-8 ml-sm-auto">
                                            <button class="btn btn-info" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            


    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
{% endblock %}