{% extends 'deskofficer_templates/base_template.html' %}
{% load static %}

{% block content %}
            <div class="page-content fade-in-up">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">{{member.get_full_name}} | {{member.coop_no}} | Standing Orders | <a href="{% url 'standing_order_form' member.pk %}">Add Standing Order</a> | <a href="{% url 'Members_Dashboard_Load_Standing_Orders_Generate_Deduction_Period' member.pk %}" class="btn btn-success">Generate Deduction</a>| <a href="{% url 'Members_Dashboard_Load' member.pk %}">Back</a></div>
                            </div>
                            <div class="ibox-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                             <th>#</th>
                                            <th>Description</th>
                                            <th>Amount</th>
                                            <th>Effective Date</th>
                                            <th>Status</th>
                                            <th colspan="2">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in orders %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{item.transaction.transaction.name}}</td>
                                    <td>{{item.amount}}</td>
                                    <td>{{item.updated_at|date:"D, d M, Y"}}</td>
                                    <td>{{item.status}}</td>
                                    <td>
                                      {% comment %}{% endcomment %}
                                        <a href="{% url 'Members_Dashboard_Load_Standing_Orders_Update' item.pk %}" class="btn btn-primary">Update</a>
                              
                                   </td>
                                   <td>
                                     
                                        <a href="{% url 'Members_Dashboard_Load_Standing_Orders_Update' item.pk %}" class="btn btn-danger">Delete</a>
                              
                                   </td>
                                </tr>
                            {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                   
                </div>
              
           
            </div>
  <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
{% endblock %}