{% extends 'deskofficer_templates/base_template.html' %}
{% load static %}

{% block content %}
            <div class="page-content fade-in-up">
                <div class="row">
                   
                    <div class="col-xl-8">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">SAVINGS FUND TRANSFER FROM | {{saving.transaction.name}} | {{saving.account_number}}</div>
                            </div>
                            <div class="ibox-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Description</th>
                                            <th>Loan Number</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for record in loans %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{record.transaction.name}}</td>
                                            <td>{{record.loan_number}}</td>
                                            <td><a href="{% url 'Members_Savings_Fund_Transfer_Loan_Details' saving.account_number record.pk %}" class="btn btn-primary">Details</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
              
           
            </div>
  <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
{% endblock %}