{% extends 'deskofficer_templates/base_template.html' %}
{% load static %}

{% block content %}
            <div class="page-content fade-in-up">
                
                <div class="row">
                    
                    <div class="col-md-7">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Commodity Form Sales | {{applicant.member.member.get_full_name}} |<a href="{% url 'membership_commodity_loan_form_sales_transaction_period_load' %}" class="btn btn-secondary">Back</a> </div>
                                
                            </div>
                            <div class="form-group">
                                  {% if messages %}
                                    
                                      {% for message in messages %}
                                          {% if message.tags == "error" %}
                                          <div class="alert alert-danger" style="margin-top:10px">{{message}}</div>
                                          
                                          {% endif %}

                                          {% if message.tags == "success" %}
                                          <div class="alert alert-success" style="margin-top:10px">{{message}}</div>
                                          
                                          {% endif %}
                                           {% if message.info == "info" %}
                                          <div class="alert alert-success" style="margin-top:10px">{{message}}</div>
                                          
                                          {% endif %}
                                      {% endfor %}
                                  
                                  {% endif %}
                              </div>
                            <div class="ibox-body">
                                <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data" novalidate>
                                    {% csrf_token %}
                               
                                
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Amount</label>
                                        <div class="col-sm-8">
                                            {{form.amount}}
                                        </div>
                                    </div>
                               
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Admin Charges</label>
                                        <div class="col-sm-8">
                                           {{form.admin_charges}}
                                        </div>
                                    </div>      
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Duration</label>
                                        <div class="col-sm-8">
                                           {{form.duration}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Repayment</label>
                                        <div class="col-sm-8">
                                           {{form.repayment}}
                                        </div>
                                    </div>  
                                    
                                
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Form Print</label>
                                        <div class="col-sm-8">
                                           {{form.form_print}}
                                        </div>
                                    </div>
                             
                                    <div class="form-group row">
                                        <div class="col-sm-8 ml-sm-auto">
                                            <button class="btn btn-info" type="submit" name='admin-charge'>Process Form</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            


    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
{% endblock %}