{% extends 'deskofficer_templates/base_template.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}
            <div class="page-content fade-in-up">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">{{member.member.get_full_name}}| {{member.member.coop_no}} | Deduction Details
                                |<a href="{% url 'Monthly_Deduction_Generated_Update_Details_Add_Savings' member.member.pk transaction_period salary_institution.pk member.pk status %}" class="btn btn-primary">Add Savings</a>
                                
                                |<a href="{% url 'Monthly_Deduction_Generated_Update_Details_Add_Loans' member.member.pk transaction_period salary_institution.pk member.pk status %}" class="btn btn-secondary">Add Loans</a> 
                                
                              |<a href="{% url 'Monthly_Deduction_Generated_Update_Details_Add_Shop' member.member.pk transaction_period salary_institution.pk member.pk status %}" class="btn btn-warning">Add Shop</a> 
                                

                                | <a href="{% url 'Monthly_Auxillary_Deduction_Generated_Update_Transaction_List_Load' transaction_period salary_institution.pk status %}">Back</a>
                                </div>
                                
                            </div>

                            <div class="form-group">
                                  {% if messages %}
                                    
                                      {% for message in messages %}
                                      {% if message.tags == "error" %}
                                      <div class="alert alert-danger" style="margin-top:10px">{{message}}</div>
                                      
                                      {% endif %}

                                      {% if message.tags == "success" %}
                                      <div class="alert alert-success" style="margin-top:10px">{{message}}</div>
                                      
                                      {% endif %}
                                       {% if message.info == "info" %}
                                      <div class="alert alert-success" style="margin-top:10px">{{message}}</div>
                                      
                                      {% endif %}
                                      {% endfor %}
                                  
                                  {% endif %}
                              </div>
                            <div class="ibox-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Description</th>
                                            <th>Account Number</th>
                                            <th>B/Forward</th>
                                            <th>Standing Order</th>
                                            <th>Amount Generated</th>
                                            <th colspan="2">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for record in record_array %}
                                        <tr>
                                            <td>{{forloop.counter }}</td>
                                            <td>{{record.0}}</td>
                                            <td>{{record.1}}</td>
                                            <td>{{record.2}}</td>
                                            <td>{{record.3}}</td>
                                            <td>{{record.4}}</td>
                                          
                                            <td>
                                            {% if record.6 == 'MAIN' %}
                                                <a href="{% url 'Monthly_Deduction_Generated_Update_Details_Process' record.5 member_pk status %}" class="btn btn-primary">Update</a>
                                           
                                            {% endif %}
                                             
                                            </td> 
                                            <td>
                                             {% if record.6 == 'MAIN' %}
                                                <a href="{% url 'Monthly_Deduction_Generated_Update_Details_Remove' record.5 %}" class="btn btn-danger">Remove</a>
                                             {% else %}
                                                <a href="{% url 'Monthly_Deduction_Generated_Update_Details_Shop_Remove' record.5 %}" class="btn btn-danger">Remove</a>
                                            {% endif %}
                                             
                                            </td>
                                              
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td></td>
                                        <td>SUMMARY</td>
                                       
                                        <td colspan="2"><span style="font-size: 16px;font-weight: bold;"> Diff: {{ member.amount_deducted|sub:total_amount }}</span></td>
                                        <td><span style="font-size: 16px;font-weight: bold;">{{standing_order_amount}}</span></td>
                                        <td><span style="font-size: 16px;font-weight: bold;">{{total_amount}}</span></td>
                                        <td>Target</td>
                                        <td> <span style="font-size: 16px;font-weight: bold;">{{member.amount_deducted}}</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

             

            </div>
  <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
{% endblock %}