{% extends 'deskofficer_templates/base_template.html' %}
{% load static %}

{% block content %}
            <div class="page-content fade-in-up">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Monthly Deduction Breakdown | {{member.get_full_name}} | {{transaction_period}}</div>
                            </div>
                            <div class="ibox-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Description</th>
                                            <th>Account Number</th>
                                            <th>Amount Generated</th>
                                            <th>Amount Deducted</th>
                                            <th>Difference</th>
                                            <th>Ledger Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for record in records %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{record.transaction.name}}</td>
                                            <td>{{record.account_number}}</td>
                                            <td>{{record.amount}}</td>
                                            <td>{{record.amount_deducted}}</td>
                                            <td>{{record.balance}}</td>
                                            <td>
                                            {% if record.transaction.source.title == 'SAVINGS' %}
                                                <a href="{% url 'membership_dashboard_transaction_details' record.account_number %}" class="btn btn-success">View</a>
                                            {% elif record.transaction.source.title == 'LOAN' %}
                                                <a href="{% url 'Members_Dashboard_Loan_Ledger_transaction_details' record.account_number member.pk %}" class="btn btn-success">View</a>
                                            {% endif %}

                                            </td>
                                      
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </div>
             
           
            </div>
  <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
{% endblock %}