{% extends 'deskofficer_templates/base_template.html' %}
{% load static %}
{% block custom_css %}
    <!-- PLUGINS STYLES-->
    <link href="{% static '/cooperative/assets/vendors/DataTables/datatables.min.css' %}" rel="stylesheet" />
   {% endblock custom_css %}
{% block content %}

      
            <div class="page-content fade-in-up">
                <div class="ibox">
                    <div class="ibox-head">
                        <div class="ibox-title">Account Deduction | {{transaction_period.transaction_period}}

                            <a href="{% url 'Monthly_Account_deduction_Process' pk transaction_period.id %}" class="btn btn-success">Process</a>
                        </div>
                    </div>
                    <div class="ibox-body">
                        <table class="table table-striped table-bordered table-hover" id="example-table" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>IPPIS No</th>
                                    <th>Name</th>
                                    <th>Amount</th>
                                    
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>IPPIS No</th>
                                    <th>Name</th>
                                    <th>Amount</th>
                                </tr>
                            </tfoot>
                            <tbody>
                            {% for record in records %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{record.ippis_no}}</td>
                                    <td>{{record.name}}</td>
                                    <td>{{record.amount}}</td>
                                    
                                </tr>
                            {% endfor %}
                               
                                
                            </tbody>
                        </table>
                    </div>
                </div>
               
            </div>
  
    
    <!-- BEGIN PAGA BACKDROPS-->
    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
    <!-- END PAGA BACKDROPS-->
{% endblock content %}

{% block custom_js %}
    <!-- PAGE LEVEL PLUGINS-->
    <script src="{% static '/cooperative//assets/vendors/DataTables/datatables.min.js' %}" type="text/javascript"></script>
   
    <!-- PAGE LEVEL SCRIPTS-->
    <script type="text/javascript">
        $(function() {
            $('#example-table').DataTable({
                pageLength: 10,
                //"ajax": './assets/demo/data/table_data.json',
                /*"columns": [
                    { "data": "name" },
                    { "data": "office" },
                    { "data": "extn" },
                    { "data": "start_date" },
                    { "data": "salary" }
                ]*/
            });
        })
    </script>
{% endblock custom_js %}
