{% extends 'deskofficer_templates/base_template.html' %}
{% load static %}

{% block content %}
            <div class="page-content fade-in-up">
                <div class="row">
                  
                    <div class="col-xl-8">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Available Loans | {{member.get_full_name}} | {{member.coop_no}}</div>
                            </div>
                            <div class="ibox-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Description</th>
                                            <th>Loan Number</th>
                                            <th>Repayment Amount</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    {% for record in records %}
                                        <tr>
                                            <td>{{froloop.counter}}</td>
                                            <td>{{record.transaction.name}}</td>
                                            <td>{{record.loan_number}}</td>
                                            <td>{{record.repayment}}</td>
                                            <td><a href="{% url 'Monthly_Deduction_Generated_Update_Details_Add_Loans_Select' record.pk member.pk transaction_period salary_institution.pk return_pk %} " class="btn btn-primary">Select</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            
           
            </div>
  <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
{% endblock %}