{% extends 'deskofficer_templates/base_template.html' %}
{% load static %}

{% block content %}
            <div class="page-content fade-in-up">
                
                <h4 class="m-b-20 font-strong">OUTGOING MONTHLY DEDUCTIONS</h4>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-deck">
                            <div class="card">
                                <a href="{% url 'Monthly_Deduction_Salary_Institution_Load' %}">
                                <img class="card-img-top" src="{% static '/cooperative/assets/img/image.png' %}" />
                                <div class="card-body">
                               
                                    <div class="text-muted card-subtitle">Individual Transactions</div>
                                    <div>Details</div>
                                </div>
                                <div class="card-footer">
                                    <a href="{% url 'Monthly_Deduction_Salary_Institution_Load' %}" class="text-info"><i class="fa fa-star"></i> Load</a>
                                    <span class="pull-right text-muted font-13"></span>
                                </div></a>
                            </div>
                            <div class="card">
                                <a href="{% url 'Monthly_Group_transaction_Institution_Load' %}">
                                <img class="card-img-top" src="{% static '/cooperative/assets/img/image.png' %}" />
                                <div class="card-body">
                               
                                    <div class="text-muted card-subtitle">Group Transactions</div>
                                    <div>Details</div>
                                </div>
                                <div class="card-footer">
                                    <a href="{% url 'Monthly_Group_transaction_Institution_Load' %}" class="text-info"><i class="fa fa-star"></i> Load</a>
                                    <span class="pull-right text-muted font-13"></span>
                                </div>
                                </a>
                            </div>
                            <div class="card">
                                <a href="{% url 'Monthly_Deduction_Main_and_Shop_Merger_Institution_load' %}">
                                <img class="card-img-top" src="{% static '/cooperative/assets/img/image.png' %}" />
                                <div class="card-body">
                                
                                    <div class="text-muted card-subtitle">Main and Shop Merger</div>
                                    <div>Details</div>
                                </div>
                                <div class="card-footer">
                                    <a href="{% url 'Monthly_Deduction_Main_and_Shop_Merger_Institution_load' %}" class="text-info"><i class="fa fa-star"></i> Load</a>
                                    <span class="pull-right text-muted font-13"></span>
                                </div>
                                </a>
                            </div>
                            <div class="card">
                                <a href="{% url 'Monthly_Deduction_Transaction_Reverse_Institution_load' %}">
                                <img class="card-img-top" src="{% static '/cooperative/assets/img/image.png' %}" />
                                <div class="card-body">
                                
                                    <div class="text-muted card-subtitle">Reverse Generated Transactions</div>
                                    <div>Details</div>
                                </div>
                                <div class="card-footer">
                                    <a href="{% url 'Monthly_Deduction_Transaction_Reverse_Institution_load' %}" class="text-info"><i class="fa fa-star"></i> Load</a>
                                    <span class="pull-right text-muted font-13"></span>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div><br>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card-deck">
                            <div class="card">
                                <a href="{% url 'Monthly_Deduction_excel_Export_Institution_Load' %}">
                                <img class="card-img-top" src="{% static '/cooperative/assets/img/image.png' %}" />
                                <div class="card-body">
                               
                                     <div class="text-muted card-subtitle">Deductions Normalization</div>
                                    <div>Details</div>
                                </div>
                                <div class="card-footer">
                                    <a href="{% url 'Monthly_Deduction_Normalization_Institution_Load' %}" class="text-info"><i class="fa fa-star"></i> Load</a>
                                    <span class="pull-right text-muted font-13"></span>
                                </div>
                                </a>
                            </div>
                              <div class="card">
                                <a href="#">
                                <img class="card-img-top" src="{% static '/cooperative/assets/img/image.png' %}" />
                                <div class="card-body">
                                <a href="#">
                                    <div class="text-muted card-subtitle">View Normalized List</div>
                                    <div><a href="{% url 'Monthly_Deduction_Normalized_Details_Institution_Load' %}">Details</a> </div></a>
                                </div>
                                <div class="card-footer">
                                    <a href="{% url 'Monthly_Deduction_Normalization_View_Institution_Load' %}" class="text-info"><i class="fa fa-star"></i> Load</a>
                                    <span class="pull-right text-muted font-13"></span>
                                </div>
                                </a>
                            </div>
                            <div class="card">
                                <a href="{% url 'Monthly_Deductions_Transaction_Period_Institution_load' %}">
                                <img class="card-img-top" src="{% static '/cooperative/assets/img/image.png' %}" />
                                <div class="card-body">
                                
                                    <div class="text-muted card-subtitle">Monthly Deductions</div>
                                    <div><a href="{% url 'Monthly_Deductions_Transaction_Period_Institution_load' %}"> Details</a></div>
                                </div>
                                <div class="card-footer">
                                    <a href="{% url 'Monthly_Deductions_Transaction_Period_Institution_load' %}" class="text-info"><i class="fa fa-star"></i> Load</a>
                                  
                                </div>
                                </a>
                            </div>
                          
                            

                            <div class="card">
                                <a href="{% url 'Monthly_Deduction_excel_Export_Institution_Load' %}">
                                <img class="card-img-top" src="{% static '/cooperative/assets/img/image.png' %}" />
                                <div class="card-body">
                               
                                     <div class="text-muted card-subtitle">Exporting To Excel</div>
                                    <div>Details</div>
                                </div>
                                <div class="card-footer">
                                    <a href="{% url 'Monthly_Deduction_excel_Export_Institution_Load' %}" class="text-info"><i class="fa fa-star"></i> Load</a>
                                    <span class="pull-right text-muted font-13"></span>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div><br>

                
            </div>
            


    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
{% endblock %}