{% extends 'deskofficer_templates/base_template.html' %}
{% load static %}

{% block content %}
            <div class="page-content fade-in-up">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Basic Table</div>
                            </div>
                            <div class="ibox-body">
                                <table class="table">
                                    <thead>
                                       <tr>
                                            <th>#</th>
                                            <th>Member ID</th>
                                            <th>Name</th>
                                            <th>File No</th>
                                            <th>Salary Code</th>
                                            <th>Salary Inst.</th>
                                            <th>Phone No</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for record in records %}
                                <tr>
                                    <td>{{record.id}}</td>
                                    <td>{{record.get_member_Id}}</td>
                                    <td>{{record.get_full_name}}</td>
                                    <td>{{record.file_no}}</td>
                                    <td>{{record.ippis_no}}</td>
                                    <td>{{record.salary_institution.title}}</td>
                                    <td>{{record.phone_number}}</td>
                                    <td><a href="{% url 'Norminal_Roll_Personel_Detail' record.pk %}" class="btn btn-primary">Details</a></td>
                                </tr>                                
                               
                            {% endfor %} 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                 
                </div>
               
           
            </div>
  <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
{% endblock %}