{% extends 'deskofficer_templates/base_template.html' %}
{% load static %}
{% load mathfilters %}

{% block content %}
            <div class="page-content fade-in-up">
                 <div class="row">
                    <div class="col-xl-6">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Package Details</div>
                            </div>
                            <div class="ibox-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Description</th>
                                            <th>Value</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Transaction Type</td>
                                            <td>{{record.transaction.name}}</td>
                                        
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Duration</td>
                                            <td>{{record.transaction.duration}} Months</td>
                                         
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Interest Rate</td>
                                            <td>{{record.transaction.interest_rate}}%</td>
                                         
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Admin Charges Rating</td>
                                            <td>{{record.transaction.admin_charges_rating}}</td>
                                         
                                        </tr> 
                                        <tr>
                                            <td>4</td>
                                            <td>Admin Charges</td>

                                            <td>
                                                {% if record.transaction.admin_charges_rating.title == "CASH" %}
                                                    {{record.transaction.admin_charges}}
                                                {% else %}
                                                    {{record.transaction.admin_charges}}%
                                                {% endif %}
                                            </td>
                                         
                                        </tr> 
                                        <tr>
                                            <td>5</td>
                                            <td>Guarantors</td>
                                            <td>{{record.transaction.guarantors}}</td>
                                         
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Loan Age</td>
                                            <td>{{record.transaction.loan_age}}</td>
                                         
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>Total Items</td>
                                            <td>{{total_item}}</td>
                                         
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>Total Amount</td>
                                            <td>{{total_amount}}</td>
                                         
                                        </tr> 
                                        <tr>
                                            <td>9</td>
                                            <td>Repayment</td>
                                            <td> {{monthly_repayment}}</td>
                                         
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>Gross Pay</td>
                                            <td>{{salary_record.gross_pay}}</td>
                                         
                                        </tr> 
                                        <tr>
                                            <td>11</td>
                                            <td>Net Pay</td>
                                            <td>{{salary_record.net_pay}}</td>
                                         
                                        </tr> 
                                        <tr>
                                            <td>12</td>
                                            <td>Monthly Savings Contributions</td>
                                            <td>{{contributions}}</td>
                                         
                                        </tr>
                                         <tr>
                                            <td></td>
                                            <td>Salary Balance </td>
                                            
                                            <td>{{balance}}</td>
                                        
                                         
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                
            
                  

                    <div class="col-md-6">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Customized Commodity Loan Preview</div>
                                
                            </div>
                            <div class="ibox-body">
                                 <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data" novalidate>
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Certification Officer</label>
                                        <div class="col-sm-8">
                                            {{form.certification_officers}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Comments</label>
                                        <div class="col-sm-8">
                                            {{form.comments}}
                                        </div>
                                    </div>
                                   
                                    
                                    <div class="form-group row">
                                        <div class="col-sm-8 ml-sm-auto">
                                            <button class="btn btn-info" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            


    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
{% endblock %}