{% extends 'deskofficer_templates/base_template.html' %}
{% load static %}



    {% block content %}
    <!-- Content Header (Page header) -->
   
    <!-- Main content -->
  
        <h5 class="mb-2">PROJECT LOAN MANAGEMENT</h5>
        <div class="row">
          <div class="col-md-3">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Loan Request</h3>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <a href="{% url 'loan_request_search' %}">Proceed</a>
                 | <a href="{% url 'loan_request_active_load' %}">Active</a>
                  | <a href="{% url 'loan_request_history_period_load' %}">History</a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>


          <div class="col-md-3">
            <div class="card card-warning">
              <div class="card-header">
                <h3 class="card-title">Manage Loan Request</h3>

               
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
               <a href="{% url 'loan_request_manage_period_load' %}">Proceed</a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->

          <!-- /.col -->
          <div class="col-md-3">
           
              <div class="card card-outline card-primary">
              <div class="card-header">
                <h3 class="card-title">Loan Request Shortlist</h3>

                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                
                <a href="{% url 'loan_request_shortlisting_load' %}">Proceed</a> | 
                  <a href="{% url 'loan_request_shortlisting_view_load' %}">Active</a>
                  | <a href="{% url 'loan_request_order_KIV' %}">KIV</a>
                  | <a href="{% url 'loan_request_order_Shortlisting_history' %}">History</a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->


            <div class="col-md-3">
             <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">Loan Form Sales</h3>               
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <a href="{% url 'loan_request_approved_Issue_form_period_load' %}">Proceed</a> |
                <a href="{% url 'loan_application_request_form_issuanace_reprint_search' %}">Reprint</a> |
                <a href="{% url 'loan_application_request_form_issuanace_History_Period_Load' %}">View</a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
         
          <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
          
          <!-- /.col -->
          <div class="col-md-3">
          <div class="card card-warning">
              <div class="card-header">
                <h3 class="card-title">Loan Application</h3>

                
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <a href="{% url 'loan_application_approved_period_load' %}">Proceed</a>
                | <a href="{% url 'Loan_application_active_list_load' %}">Active</a>
                | <a href="{% url 'Loan_application_history_period_load' %}">History</a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-3">
            <div class="card card-success">

              <div class="card-header">
                <h3 class="card-title">Application Shortlisting</h3>

                
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <a href="{% url 'loan_application_shortlisting_list_load' %}">Proceed</a>
                | <a href="{% url 'loan_application_shortlisted_active_list_load' %}">Active</a>
                | <a href="{% url 'Loan_application_shortlisting_KIV_period_load' %}">Not Approved</a>
                | <a href="{% url 'Loan_application_shortlisting_history_period_load' %}">History</a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-3">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Loan Processing</h3>
              </div>
              <div class="card-body">
                <a href="{% url 'Loan_application_processing_period_load' %}">Proceed</a> |
                <a href="{% url 'loan_application_reprint_search' %}">Reprint</a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
           <div class="col-md-3">
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">Discard Transaction</h3>
              </div>
              <div class="card-body">
               <a href="{% url 'loan_request_order_discard' %}">Request</a> |
               <a href="{% url 'loan_request_order_discard' %}">Applicantion</a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->


    <!-- /.content -->
   {% endblock %} 


