{% extends 'deskofficer_templates/base_template.html' %}
{% load static %}

{% block content %}
    <div class="page-content fade-in-up">
        
        <div class="row">
           <div class="col-md-6">
                <div class="ibox">
                    <div class="ibox-head">
                        <div class="ibox-title">Rental Bill Payment | {{person.name}} | {{person.category.description}}</div>
                    </div>
                    <div class="form-group">
                      {% if messages %}
                        
                          {% for message in messages %}
                              {% if message.tags == "error" %}
                               <div class="alert alert-warning alert-dismissable fade show"  style="margin-top:10px">
                                <button class="close" data-dismiss="alert" aria-label="Close">×</button><strong>Warning!</strong> {{message}}</div>
                              
                              {% endif %}
                          {% endfor %}
                      {% endif %}
                    </div>
                    <div class="ibox-body">
                         <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data" novalidate>
                                    {% csrf_token %}
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Amount Due</label>
                                <div class="col-sm-8">
                                    {{form.amount_due}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Amount Paid</label>
                                <div class="col-sm-8">
                                    {{form.amount_paid}}
                                </div>
                            </div>
                            {% if button_show %}
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Receipt No</label>
                                <div class="col-sm-8">
                                    {{form.receipt_no}}
                                </div>
                            </div>

                         {% endif %}
                            <div class="form-group row">
                                <div class="col-sm-8 ml-sm-auto">
                                    <button class="btn btn-info" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>     
    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
{% endblock %}