{% extends 'deskofficer_templates/base_template.html' %}
{% load static %}

{% block content %}
            <div class="page-content fade-in-up">
                <div class="row">
                  
                    <div class="col-xl-10">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">ACTIVE STANDING ORDER | {{transaction.name}} | <a href="{% url 'export_Standing_Orders_Transaction_Details_List_xls' transaction.pk %}" class="btn btn-secondary">Export</a></div>
                            </div>
                            <div class="ibox-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Member ID</th>
                                            <th>Name</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for record in records %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{record.transaction.member.coop_no}}</td>
                                            <td>{{record.transaction.member.get_full_name}}</td>
                                            <td>{{record.amount}}</td>
                                          
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td></td>
                                        <td colspan="2">TOTAL AMOUNT</td>
                                        <td>{{total_amount}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
              
           
            </div>
  <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
{% endblock %}