{% extends 'deskofficer_templates/base_template.html' %}
{% load static %}

{% block content %}
            <div class="page-content fade-in-up">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Adjustment Request Processing
                                {% if button_enabled %}
                                    | <a href="{% url 'Transaction_Adjustment_Approved_View_List_Upload_all' transaction_period %}" class="btn btn-success">Upload All</a>
                              {% endif %}
                                | <a href="{% url 'Transaction_Adjustment_Approved_View_List_Period_Load' %}">Back</a>
                                </div>
                            </div>
                            <div class="ibox-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            {% for col in columns %}
                                            <th>{{col}}</th>
                                            
                                            {% endfor %}
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for record in order_list_array %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{record.0 | default_if_none:"&nbsp;"}}</td>
                                            <td>{{record.1| default_if_none:"&nbsp;"}}</td>
                                            <td>{{record.2 | default_if_none:"&nbsp;"}}</td>
                                            <td>{{record.3 | default_if_none:"&nbsp;"}}</td>
                                            <td>{{record.4 | default_if_none:"&nbsp;"}}</td>
                                            <td>{{record.5 | default_if_none:"&nbsp;"}}</td>
                                            <td>{{record.6 | default_if_none:"&nbsp;"}}</td>
                                            <td>{{record.7 | default_if_none:"&nbsp;"}}</td>
                                            <td><a href="{% url 'Transaction_Adjustment_Manage_Details' record.0 transaction_period %}">Upload</a></td>
                                            
                                          
                                        </tr>
                                    {% endfor %}
                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </div>
              
           
            </div>
  <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
{% endblock %}