{% extends 'deskofficer_templates/base_template.html' %}
{% load static %}

{% block content %}
            <div class="page-content fade-in-up">
                
                <div class="row">
                  

                    <div class="col-md-6">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Salary Gross Pay Update | {{member.member.get_full_name}}</div>
                                
                            </div>
                             <div class="form-group">
                                  {% if messages %}
                                    
                                      {% for message in messages %}
                                      {% if message.tags == "error" %}
                                      <div class="alert alert-danger" style="margin-top:10px">{{message}}</div>
                                      
                                      {% endif %}

                                      {% if message.tags == "success" %}
                                      <div class="alert alert-success" style="margin-top:10px">{{message}}</div>
                                      
                                      {% endif %}
                                      {% endfor %}
                                  
                                  {% endif %}
                                </div>
                            <div class="ibox-body">
                                  <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data" novalidate>
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Existing Goss Pay</label>
                                        <div class="col-sm-8">
                                            {{form.existing_gross_pay}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Current Gross Pay</label>
                                        <div class="col-sm-8">
                                            {{form.current_gross_pay}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Paymant as at</label>
                                        <div class="col-sm-8">
                                            {{form.period}}
                                        </div>
                                    </div>     
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Click to Update Payslip</label>
                                        <div class="col-sm-8">

                                           {{form.update_payslip}}
                                        </div>
                                         
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Payslip Evidience</label>
                                        <div class="col-sm-8">

                                            {{form.image}}
                                        </div>
                                       
                                    </div>
                                 
                                    <div class="form-group row">
                                        <div class="col-sm-8 ml-sm-auto">
                                            <button class="btn btn-info" type="submit" name="btn-submit">Submit</button>
                                            <button class="btn btn-danger" type="submit" name="btn-delete">Discard</button>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            


    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
{% endblock %}