{% extends 'deskofficer_templates/base_template.html' %}
{% load static %}

{% block content %}
            <div class="page-content fade-in-up">
            
            <div class="row">
                    
                    <div class="col-xl-12">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">UPLOADED LOANS | {{member.get_full_name}} | {{member.get_member_Id}} 
                                    <a href="{% url 'Uploaded_Existing_Loan_Revert_Discard_All' member.pk %}" class="btn btn-danger">Discard All Records</a>
                                </div>
                            </div>
                            <div class="ibox-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Loan Number</th>
                                            <th>Description</th>
                                            <th>Particulars</th>
                                            <th>Balance</th>
                                            <th>Repayment</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for record in records %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{record.loan_number}}</td>
                                            <td>{{record.transaction.name}}</td>
                                            <td>{{record.particulars}}</td>
                                            <td>{{record.balance}}</td>
                                            <td>{{record.repayment}}</td>
                                       
                                            <td><a href="{% url 'Uploaded_Existing_Loan_Revert_delete_Selected' record.pk return_pk %}" class="btn btn-danger">Remove</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            


    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
    {% include 'cooperative/includes/emptyspace.html' %}
{% endblock %}