{% extends 'deskofficer_templates/base_template.html' %}
{% load static %}

{% block content %}
            <div class="page-content fade-in-up">
                <div class="row">
                    <div class="col-xl-10">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Uploaded Loans | {{member.get_full_name}}</div>
                            </div>
                            <div class="ibox-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Account Name</th>
                                            <th>Account Number</th>
                                            <th>Loan Amount</th>
                                            <th>Balance B/F</th>
                                            <th>Repayment</th>
                                            <th>Action</th>
                                          
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for record in records %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{record.transaction.name}}</td>
                                            <td>{{record.loan_number}}</td>
                                            <td>{{record.loan_amount}}</td>
                                            <td>{{record.balance}}</td>
                                            <td>{{record.repayment}}</td>
                                            <td><a href="{% url 'Uploaded_Existing_loan_Done_View_Details_Upload_Guarantors' record.loan_number %}" class="btn btn-primary">Add Guarantors</a></td>
                                         
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                  
                </div>
             
           
            </div>
  <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
{% endblock %}