{% extends 'deskofficer_templates/base_template.html' %}
{% load static %}

{% block content %}
            <div class="page-content fade-in-up">
                <div class="row">
                    <div class="col-xl-10">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">List of Guarantors| {{loan.transaction.name}}|{{loan.loan_number}} | {{loan.member.get_full_name}}</div>
                            </div>
                            <div class="form-group">
                                  {% if messages %}
                                    
                                      {% for message in messages %}
                                      {% if message.tags == "error" %}
                                      <div class="alert alert-danger" style="margin-top:10px">{{message}}</div>
                                      
                                      {% endif %}

                                      {% if message.tags == "success" %}
                                      <div class="alert alert-success" style="margin-top:10px">{{message}}</div>
                                      
                                      {% endif %}
                                      {% endfor %}
                                  
                                  {% endif %}
                              </div>

                            <div class="ibox-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Member ID</th>
                                            <th>Name 
                                                {% if button_show %}
                                                <a href="{% url 'Uploaded_Existing_loan_Done_View_Details_Upload_Guarantors_lock' loan.loan_number %}" class="btn btn-success">LOCK</a>
                                                {% endif %}
                                            </th>
                                                
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    {% for record in records %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{record.member.get_member_Id}}</td>
                                            <td>{{record.member.get_full_name}}</td>
                                            <td>
                                                {% if record.status == 'OPEN' %}
                                                <a href="{% url 'Uploaded_Existing_loan_Done_View_Details_Upload_Guarantors_delete' record.pk %}" class="btn btn-danger">Remove</a>
                                               {% endif %}

                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="row">
                  

                    <div class="col-md-8">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Add Guarantors | <a href="{% url 'Uploaded_Existing_loan_Done_View_Details' loan.member.coop_no %}" class="btn btn-secondary">Back</a></div>
                                
                            </div>
                            <div class="ibox-body">
                              <form class="form-horizontal" method="POST" action="{% url 'Uploaded_Guarantors_for_Existing_Loans_List_Load' loan.loan_number %}" enctype="multipart/form-data" novalidate>
                                 {% csrf_token %}
                                    
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Search Guarantor</label>
                                        <div class="col-sm-8">
                                            {{form.title}}
                                        </div>
                                    </div>
                                   
                                   
                                    <div class="form-group row">
                                        <div class="col-sm-8 ml-sm-auto">
                                            <button class="btn btn-info" type="submit">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
           
              
           
            </div>
  <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
{% endblock %}